.SubTask-heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 0.01px;
  text-align: left;
  color: #2c2738;
}

.SuTask-button {
  width: 111px;
  height: 40px;
  margin: 0px 23px 0 11px;
  object-fit: contain;
  border-radius: 4px;
  color: white;
  background-color: #6c5dd3;
  border: 0;
}

.SuTask-button-goback{
  width: 111px;
  height: 40px;
  margin: 0px 23px 0 11px;
  object-fit: contain;
  border-radius: 4px;
  border-color: #6c5dd3;
  color: #6c5dd3;
  background-color: white;
  
}

.SuTask__addConfirm_button{
  width: 214px;
  height: 40px;
  margin: 0px 23px 0 11px;
  object-fit: contain;
  border-radius: 4px;
  color: white;
  background-color: #6c5dd3;
  border: 0;
}