@import "../../../../assets//styles/colors.scss";
@import "../../../../assets/styles/mixins.scss";
.header {
  border-bottom: 2px solid rgba(179, 171, 196, 0.4);
  .tab {
    display: inline-block;
    position: relative;
    margin-right: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: $color_light_black;
    cursor: pointer;
    &:hover {
      background-color: rgb(252, 252, 252);
    }
    transition: all 0.5s ease;

    &.tabActive {
      color: $color_primary;
      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        animation: activeTabLine 0.2s;
        -webkit-animation: activeTabLine 0.2s;
        -moz-animation: activeTabLine 0.2s;
        height: 2px;
        background-color: $color_primary;
      }
    }
    @keyframes activeTabLine {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }
}
.customDataCell {
  font-family: Poppins;
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  text-align: center;
  color: #2c2738;
}
.customHeaderCell {
  font-family: Poppins;
  font-size: 12px;
  line-height: normal;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-right: 1rem;
}
.masterDetailsContainer {
  margin-right: 1rem;
  background-color: #fff;
  border-radius: 6px;
  min-height: 200px;
  width: 100%;
  .w60 {
    width: 60%;
  }
  .w20 {
    width: 20%;
  }
  .w40 {
    width: 40%;
  }
  .w30 {
    width: 30%;
  }
  .w15 {
    width: 15%;
  }
  .questionnarieCustomTable {
    border-collapse: collapse;
    width: 100%;
    & th,
    & td {
      padding: 0.25rem 0.75rem;
      font-family: Poppins;
      font-size: 12px;
      line-height: normal;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    & td {
      font-weight: normal;
      padding: 0.5rem 0.75rem;
    }
    .headingRow {
      background-color: #d3e9ff;
      height: 35px;
      & th:first-child,
      & th:last-child {
        border-radius: 6px;
      }
      & th:last-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      & th:first-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
    .dataRow {
      height: auto;
      box-shadow: 0px 3px 20px rgba(44, 39, 56, 0.06);
      background-color: #fff;
      // margin: 0.25rem 0;
      & td:first-child,
      & td:last-child {
        border-radius: 6px;
      }
      & td:last-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      & td:first-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
  }
  .tableIconButton {
    width: 25px;
    height: 25px;

    &.messageNotificationDot {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 1px;
        right: 1px;
        transform: translate(50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #e53737;
      }
    }
  }
  // Checkpoints Data Custom Component
  .checkpointsDataContainer {
    .checkpointsHeaderRow {
      display: flex;
      align-items: center;
      justify-content: start;
      background-color: #d3e9ff;
      height: 35px;
      border-radius: 6px;
      padding-left: 1rem;
      padding-right: 0.5rem;

      .checkpointsHeadingText {
        font-family: Poppins;
        font-size: 12px;
        line-height: normal;
        font-weight: 500;
        margin-bottom: 0;
        padding: 0rem 0.5rem;
      }
    }
    .checkpointsDataTextPrimary {
      color: $color_primary;
    }
    .checkpointsMainContainer {
      padding: 0.5rem 0px 0 0.5rem;
    }
    .checkpointsDataRow {
      display: flex;
      align-items: center;
      justify-content: start;
      background: #e9e8ff;
      margin-bottom: 0.6rem;
      padding: 0.5rem;
      border-radius: 6px;
      position: relative;
      border-left: 3px solid $color_primary;

      .checkpointsDataText {
        font-family: Poppins;
        font-size: 12px;
        line-height: normal;
        font-weight: normal;
        margin-bottom: 0;
        padding: 0rem 0.5rem;
      }
    }
    .dataRowDropdownContainer {
      background: #ffffff;
      border: 1px solid #e2e2e2;
      box-sizing: border-box;
      box-shadow: 0px 3px 20px rgba(44, 39, 56, 0.06);
      border-radius: 10px;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      margin-bottom: 1rem;
      height: auto;
      transition: width 2s, height 2s ease-out;
      //     transition-property: backg;
      // transition-duration: 3s, 5s;

      &.closed {
        height: 0;
        padding: 0;
        margin: 0;
        border: 0px;
        box-shadow: none;

        .dataDropdownRow {
          height: 0;
          padding: 0;
          margin: 0;
          border-bottom: 0px;

          & p,
          & select,
          & button {
            display: none;
          }
        }
      }

      .dataDropdownRow {
        background-color: #fff;
        border: none;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(179, 171, 196, 0.4);
        border-radius: 0px;
      }
    }
    .dropdownExpanded {
      transform: rotate(180deg);
    }
  }
}



.tableIconButton {
  width: 25px;
  height: 25px;

  &.messageNotificationDot {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 1px;
      right: 1px;
      transform: translate(50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #e53737;
    }
  }
}

.pdficon{
  color: #e53737;
  
}