.inside-scroll {
  overflow-y: auto;
  height: calc(100vh - 200px);
  padding-right: 30%;
}
.inner-div {
  max-width: 100%;
  width: 100%;
}
.heading-section {
  padding-right: 30%;
}
.heading-section .Filter-drop-down {
  text-align: right;
}
.heading-section .Filter-drop-down ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.heading-section .Filter-drop-down ul li {
  display: inline-block;
  padding: 0px 5px;
  vertical-align: bottom;
}
.heading-section .filter-by {
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
  margin-bottom: 10px;
}
.heading-section .Dropdown-control {
  width: 240px;
  max-width: 240px;
  height: 40px;
  border: none;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 0.02px;
  text-align: left;
  color: #1b1d21;
  position: relative;
}
.heading-section .Dropdown-menu {
  background-color: #ffffff;
  color: #1b1d21;
  overflow: auto;
  z-index: 1;
  font-size: 12px;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  width: 240px;
  max-width: 240px;
  padding: 10px 0px;
}
.heading-section .Dropdown-option {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #1b1d21;
}
.dots-div {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.drop-div {
  background-color: #ffffff;
  color: #1b1d21;
  overflow: auto;
  z-index: 1;
  font-size: 12px;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  width: 240px;
  max-width: 240px;
  padding: 10px 0px;
  position: absolute;
  top: 40px;
  left: 0;
  right: auto;
  min-width: 164px;
  cursor: pointer;
}
.dots-option {
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #1b1d21;
  margin-bottom: 0;
  padding: 8px 11px;
}
.heading-section .arrow-open {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #323232;
  position: absolute;
  top: 15px;
  right: 14px;
}

.heading-section .arrow-closed {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #323232;
  position: absolute;
  top: 15px;
  right: 14px;
}
.co-dash-notification-grid-right {
  object-fit: contain;
  border-radius: 36px;
  box-shadow: 0 3px 36px 0 rgb(67 0 255 / 8%);
  background-color: #ffffff;
  position: relative;
  height: 94vh;
  margin: 20px 20px 20px 6.5vw;
  padding: 48px 0;
}
.co-dash-notification-grid-right .assignedImage {
  margin-top: -7px;
}
.co-dash-notification-grid-right .main-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: left;
  color: #2c2738;
  margin-bottom: 40px;
  padding: 0 48px;
}
.co-dash-notification-grid-right .today-grid .gride-heading {
  opacity: 0.5;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #1b1d21;
  padding: 0 48px;
  margin-top: 15px;
}
.co-dash-notification-grid-right .grey-background {
  background-color: #f9f7ff;
  padding: 5px 48px;
}
.co-dash-notification-grid-right .white-background {
  background-color: white;
  padding: 5px 18px 5px 48px;
}
.list-gride {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.list-gride li {
  margin-right: 15px;
  padding: 5px 0px;
  display: inline-block;
  margin-right: 10px;
  padding: 5px 0px;
}
.co-dash-notification-grid-right .today-grid .bold-text {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #575757;
}
.co-dash-notification-grid-right .today-grid .normal-text {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #2c2738;
}

.co-dash-notification-grid-right .today-grid .normal-text > b {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #2c2738;
}
.right-hr {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: right;
  color: #202020;
  padding-top: 5px;
}

.co-dash-notification-grid-right .no-notification-label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #757575;
  margin-left: 5%;
}

@media screen and (max-width: 767px) {
  .co-dash-notification-grid-right {
    object-fit: contain;
    border-radius: 0px;
    box-shadow: 0 3px 36px 0 rgb(67 0 255 / 8%);
    background-color: #ffffff;
    position: relative;
    height: 100vh;
    margin: 0px;
    padding: 0px 0px;
  }
  .drop-div {
    right: 0px !important;
    left: auto;
  }

  .co-dash-notification-grid-right .heading-section {
    padding: 0px 24px;
  }
  .co-dash-notification-grid-right .main-title {
    padding: 0px 0px;
    margin-bottom: 32px;
  }
  .co-dash-notification-grid-right .inside-scroll {
    padding-right: 0px;
    height: auto;
  }
  .co-dash-notification-grid-right .today-grid .gride-heading {
    padding: 0 24px;
    margin-top: 15px;
    font-size: 14px;
    color: rgb(32 32 32 / 50%);
  }
  .co-dash-notification-grid-right .white-background {
    background-color: #f9f7ff;
    padding: 5px 24px;
  }
  .co-dash-notification-grid-right .right-hr {
    text-align: left;
    padding-top: 5px;
    margin-left: 29px;
  }
  .co-dash-notification-grid-right .top-pt {
    padding-top: 6px;
  }
  .co-dash-notification-grid-right .inner-div {
    background-color: #fff;
  }
  .co-dash-notification-grid-right .mobile-top-pyd {
    padding: 40px 24px 32px;
  }
  .co-dash-notification-grid-right .dropIcon {
    padding-top: 6px;
  }
  .co-dash-notification-grid-right .heading-section .Filter-drop-down ul li {
    padding: 0px 0px 0px 19px;
  }
  .co-dash-notification-grid-right .today-grid {
    margin-bottom: 32px;
  }
  .co-dash-notification-grid-right .today-grid .normal-text {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
  }
}
