.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 30px !important;
}

.date-picker {
  background: #f7f7f7 !important;
  border: none;
}
.ant-picker-input > input {
  font-weight: 400 !important;
}
