@import "../../assets/styles/colors";
@import "../../assets/styles/fonts.scss";

.bar {
  height: 100vh;
  width: 100%;
  min-width: 240px;
  overflow: hidden;
  background: $color_white;
}

.heading{
  margin-top: 60px;
  h1{
      font-family: $font_poppins;
      font-size: 35px;
      color: $color_black_text;
      text-align: center;
  }
}

.navigationMenu{
  margin-top: 40px;
}

.navigationMenu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigationMenu ul li {
  padding: 18px 20px;
  border-top: 1px solid #eee8fc;
  cursor: pointer;
  border-right: 3px solid transparent;
}

.navigationMenu ul li:last-child {
  border-bottom: 1px solid #eee8fc;
}

.navigationMenu ul li span{
  font-family: $font_poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: $color_light_black;
}

.activeClass{
  border-right: 3px solid $color_primary !important;
  background-color: $color_primary_background;
  span {
    color: $color_blue !important;
  }
}