.Main {
  width: 75vw;
  padding-left: 1.5rem;
  background-color: #fff;
  margin: 1rem 12.5vw;
  height: 95vh;
  border-radius: 36px;
  z-index: 1;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.Content {
  padding: 3rem 0 2rem 1rem;
  width: 100%;
}
.Container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75vh;
  text-align: initial;
  padding-right: 2rem;
}
#Line {
  background-color: #eaeaea;
  height: 1px;
  width: 95%;
  margin: 0 auto;
  padding-top: 1px;
}
.Header button {
  background-color: #fff;
  border: none;
  color: black;
  font-size: 25px;
}
.Header h3 {
  font-size: 33px;
  margin-bottom: 0;
}
.Desc {
  margin: 5vh auto;
  color: #2c2738;
  opacity: 0.7;
  font-size: 15px;
}
.Footer {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -3px 36px 0 rgba(67, 0, 255, 0.08);
  width: 75vw;
  margin-left: -2.5rem;
  border-radius: 6px;
}
.Footer p {
  height: 6vh;
  font-size: 13px;
  margin: 5vh;
  color: #2c2738;
  opacity: 0.7;
  display: inline;
}
.ButtonClass {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}
.ButtonClass button {
  background-color: #fff;
  border: none;
  height: 6vh;
  margin: 3vh;
  color: #6c5dd3;
  font-weight: 500;
  padding: 1vh 2vh;
}
#Agree {
  background-color: #6c5dd3;
  color: #fff;
  border-radius: 7px;
}
.Container::-webkit-scrollbar {
  width: 12px;
}
.Container::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 60px;
}
.Container::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}
.Container::-webkit-scrollbar-track {
  box-shadow: none;
}

/* MOBILE VIEW */

@media screen and (max-width: 1100px) {
  .Main {
    width: 80vw;
    height: 98vh;
  }
  .Desc {
    font-size: 14px;
  }
  .Footer p {
    display: none;
  }
  .Header h3 {
    font-size: 26px;
  }
  .Container {
    height: 78vh;
  }
  .Footer {
    width: 75vw;
    height: 8%;
    display: flex;
    justify-content: center;
    margin-left: -1.5rem;
  }
  .ButtonClass {
    width: 75vw;
  }
}
@media screen and (max-width: 1000px) {
  .Container {
    height: 80vh;
  }
}
@media screen and (max-width: 540px) {
  .Main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }
  .Content {
    padding: 0;
  }
  .Desc {
    font-size: 12px;
  }
  .Header {
    padding: 1rem 0px 1px 0rem;
  }
  .Header h3 {
    font-size: 20px;
  }

  .Container {
    height: 90vh;
    padding-right: 1rem;
  }
  .Footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-left: -2rem;
  }
  .ButtonClass {
    width: 95vw;
  }
  .ButtonClass button {
    width: 60%;
    height: auto;
    margin: 1rem 2rem;
  }
  #Agree {
    width: 70vw;
    margin: 1rem 0;
    height: 3rem;
  }
}
@media screen and (max-width: 380px) {
  .Container {
    height: 85vh;
  }
  #Agree {
    height: 3.4rem;
  }
}
