.compliance-third-section {
  background-image: url("../../../assets//Images//ComplianceLanding//Backgroundsmallmobile.png");
  background-repeat: no-repeat;
  object-fit: cover;
}

.compliance-third-section-main-heading {
  font-family: Poppins;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #1b1d21;
}



.compliance-third-section-cards {
    width: 358px;
    height: 350px;
    background-color: #ffffff;
  }
  .compliance-third-section-cards-heading {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #1d293f;
    margin-top: -35px;
      margin-left: 35px;
  }
  .compliance-third-section-cards-para {
    opacity: 0.5;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.02px;
    text-align: left;
    color: #1b1d21;
      margin-left: 35px;
  }
  
  .compliance-third-section-rightarrow{
      color: #1b1d21 !important;
      height: 30px;
      width: 30px;
      margin-left: 320px;
  }


  .compliance-third-section-cards-last {
    width: 358px;
    height: 350px;
    background-color: #cfd8f6;
  }
  