/* header css  start*/

.get-started-header {
  padding-top: 40px;
}
.header_logo {
  object-fit: contain;
}
.header_logo img {
  width: 32px;
}
.header_logo a:hover {
  text-decoration: none;
}
.header_logo .camp {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: left;
  position: relative;
  color: #1b1d21;
  top: 3px;
  left: 6px;
}
.header .testLabelRight {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.header .testing-label {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  margin-bottom: 0px;
}
/* header css  end*/

.company-licenses {
  margin-top: 64px;
  height: calc(100% - 0px);
}
.company-licenses img {
  margin-bottom: 40px;
  width: 48px;
  margin-right: 20px;
  height: 48px;
  position: absolute;
  left: -65px;
}
.company-licenses .company-title {
  width: 574px;
  font-size: 33px;
  font-weight: 500;
  font-stretch: normal;
  display: flex;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  position: relative;
  text-align: left;
  color: #2c2738;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
}
.company-licenses .form_wrapper {
  max-width: 358px;
  width: 100%;
  margin-bottom: 20px;
}
.verify-link {
  object-fit: contain;
  opacity: 0.82;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}
.added-company-licenses td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #f6f6f6;
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
  line-height: 29px;
}
.added-company-licenses .table td,
.table th:first-child {
  padding-left: 0px !important;
}
.added-company-licenses th {
  border-top: inherit;
}
.added-company-licenses td:first-child {
  padding-left: 0px;
}
.added-company-licenses input.form-control {
  padding-left: 0px;
}
.added-company-licenses .license-count {
  width: 32px;
  height: 32px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: center;
  color: #ffffff;
  border-radius: 31px;
  line-height: 31px;
  text-align: center;
  margin-left: 7px;
  background-color: #1b1d21;
}
.added-company-licenses thead th {
  vertical-align: bottom;
  border-bottom: 1.5px solid #e4e4e4;
  border-top: inherit;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #2c2738;
  text-transform: uppercase;
}
.added-company-licenses tbody tr {
  object-fit: contain;
  border-bottom: 1px solid #f6f6f6;
}
.form-control::-webkit-input-placeholder {
  opacity: 0.36;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  padding-left: 1px;
  color: #1b1d21;
}
.added-company-licenses .add-company-link {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #6c5dd3;
  text-transform: uppercase;
  margin-top: 34px;
}
.form_section .form-control:focus {
  box-shadow: none;
  border: 2px solid #6c5dd3;
  opacity: 1;
  color: #2c2738;
}
/* login section */

/* bottom logo */
.bottom-logo-strip .bottom_logo a {
  text-decoration: none;
}
.bottom-logo-strip .common-button1 {
  border-radius: 4px !important;
  background-color: #6c5dd3 !important;
  height: 43px;
  text-transform: uppercase !important;
  width: 80px;
  text-align: center;
}
.bottom-logo-strip .common-button1:hover {
  background-color: #8680ff !important;
  color: white !important;
}

.bottom-logo-strip .common-button1:focus:not(:focus-visible) {
  outline: 0;
  background-color: #000000 !important;
  box-shadow: none !important;
  color: white !important;
}
.bottom-logo-strip .bottom_logo .powerBy {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: left;
  color: #11142d;
}
.bottom-logo-strip .login-link {
  opacity: 0.8;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #6c5dd3;
}
.bottom-logo-strip .account-link {
  opacity: 0.8;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #2c2738;
}
.bottom-logo-strip .powerBy {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.36;
  letter-spacing: 0.7px;
  text-align: left;
  color: #aeaeae;
}
.text-right-logo {
  float: right;
  margin-top: 13px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.01px;
  text-align: right;
  color: #2c2738;
  margin-top: 0px;
}
/* bottom logo */
