.searchable {
  width: 100% !important;
}
@media screen and (min-width: 767px) {
  .filter-form {
    height: 70vh;
    overflow: auto;
    padding-right: 2rem;
  }
}
.filter-form label {
  margin-top: 15px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}

.view-updates {
  margin-top: 35px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: rgb(219, 215, 215);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: not-allowed;
  pointer-events: none;
}

.view-updates-active {
  color: #ffffff;
  background-color: #6c5dd3;
  pointer-events: all;
}
p.warnings {
  color: red;
}
p.warnings > small {
  color: red;
  font-size: 0.7rem;
}
@media screen and (min-width: 992px) {
  .searchable {
    width: 100% !important;
  }
}

.searchable__controls__list__item {
  padding: 1px 5px 2px 5px !important;
  background-color: #7b74ff !important;
}
