.add-edit-main-container {
  padding: 20px 20px 20px 20px;
}

.add-edit-project-labels {
  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2c2738;
}

.add-edit-project-inputs {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 10px;
}

.add-edit-project-inputs-task-duration-mobile {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 10px;
}

.add-edit-project-submit-btn {
  width: 180px;
  height: 44px;
  background: #7a73ff;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  border: 0;
  color: #ffffff;
}
.add-edit-project-cancel-btn {
  width: 180px;
  height: 44px;
  background: #ffffff;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  border: 1px solid #7a73ff;
  color: #7a73ff;
}

@media (max-width: 767.98px) {
  .add-edit-project-submit-btn {
    width: 152px;
    height: 40px;
    background: #7a73ff;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    border: 0;
    color: #ffffff;
  }
  .add-edit-project-cancel-btn {
    width: 152px;
    height: 40px;
    background: #ffffff;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    border: 1px solid #7a73ff;
    color: #7a73ff;
  }
}
