.history-container {
  padding: 48px 48px;
  object-fit: contain;
  border-radius: 36px;
  box-shadow: 0 3px 36px 0 rgba(67, 0, 255, 0.08);
  background-color: #ffffff;
  position: relative;
  height: 94vh;
  margin: 20px 20px 20px 6.5vw;
  width: auto;
  z-index: 8;
}

.history-container .row {
  margin: 0;
}

.SbPara {
  max-width: 240px;
  display: block;
  opacity: 0.6;
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}

h2.main-title {
  font-size: 24px;
  font-weight: 600;
}

h2.main-title img {
  margin: 0 0 0 10px;
}
