.filter-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.sort-btn {
  font-size: 10px;
  margin: 0 8px;
  border-radius: 10px;
  padding: 2px 8px;
  border: none;
  margin: 0 4px;
}
.sort-btn.active {
  background: #b3abc4;
  color: #ffffff !important;
}
.sort-btn.inactive {
  background: #f7f4fe;
  color: #b3abc4;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #fff;
}
.table thead th {
  vertical-align: inherit !important;
  border-bottom: none !important;
  font-size: 10px;
  text-transform: uppercase;
  color: #b3abc4;
}
.table tbody td {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.table tbody + tbody {
  border-top: none;
}

tr.expandable > td > .inner {
  overflow: hidden;
}

.fs-10 {
  font-size: 10px !important;
}
.fs-16 {
  font-size: 12px !important;
}
.fs-14 {
  font-size: 12px !important;
}

.edit-btn {
  background: none;
  color: #6c5dd3;
  font-size: 14px;
  font-weight: 500;
  margin-right: 50px;
}

.add-btn {
  font-size: 14px;
  color: #7a73ff;
  font-weight: 600 !important;
  margin-top: 5px !important;
}

.dropdown-th {
  font-size: 10px !important;
  color: #b3abc4 !important;
}
.dropdown-td {
  font-size: 12px !important;
}
