span.sort-by.add-btn {
  font-size: 14px;
  color: #7a73ff;
  font-weight: 500;
  margin-right: 15px;
  opacity: 1;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #fff;
}
.table thead th {
  vertical-align: inherit !important;
  border-bottom: none !important;
  font-size: 10px;
  text-transform: uppercase;
  color: #b3abc4;
}
.table tbody td {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.table tbody + tbody {
  border-top: none;
}

tr.expandable > td > .inner {
  overflow: hidden;
}