/* ===== Header ===== */
.demo-header {
  /* position: absolute;
    top: 0;
    left: 0; */
  pointer-events: all !important;
}
.branding__name {
  text-transform: uppercase;
  font-weight: 600;
}
.branding__seperator {
  height: 100%;
  width: 1.5px;
  border-radius: 3px;
  background-color: rgba(192, 192, 192, 0.7);
}
.button {
  background-color: transparent;
  border: none;
}
.skip-button {
  opacity: 0.8;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #6c5dd3;
  cursor: pointer !important;
  pointer-events: all !important;
  text-transform: uppercase;
}
/**********************/
