.MainUser {
  color: black;
  width: 95vw;
  margin: 1vw 5vw;
  padding: 2vw;
  height: 95vh;
}
.UserContainer {
  box-shadow: 0 3px 36px 0 rgba(67, 0, 255, 0.08);
  padding: 2vw;
  height: 90vh;
  border-radius: 20px;
  overflow-y: scroll;
}
.UserContainer > h4 {
  margin-bottom: 2rem;
}
.UserTaskType {
  color: #b3abc4;
}
.UserTaskType > div {
  display: inline-block;
  margin: 0.6rem 1rem;
  font-size: 18px;
}
.UserTaskType > div:hover {
  color: #7a73ff;
  cursor: pointer;
}
.UserTypeSelected {
  color: #7a73ff;
  padding-bottom: 1vh;
  height: 40px;
  border-bottom: 4px solid #7a73ff;
  z-index: 1;
}
#Line1 {
  width: 85%;

  height: 4px;
  background-color: #b3abc4;
}
.UserHeader {
  margin-top: 2rem;
  background: #7a73ff29;
  border-radius: 12px;
  justify-content: center;
  font-size: 16px;

  width: 88vw;
}
.UserHeader > div {
  font-weight: 500;
  margin: 1rem 1.5vw;
  color: #7a73ff;
  display: inline-flex;
  align-items: center;

  min-width: 60px;
}
.UserElement {
  display: flex;
  border-bottom: 1px solid #b3abc47c;
}
.UserElement > div {
  margin: 0.8vw 1.1vw;
  margin-bottom: 1.8vw;
  display: flex;
  align-items: center;
}
.UserActions {
  width: 70px;
  display: flex;
  padding: 0.8rem;
  padding-bottom: 0;
}
.UserActions > img {
  margin: 0 0.5rem;
}
.UserTask {
  width: 140px;
}
.UserTaskElements {
  width: 60px;
}
.UserTypeTask {
  width: 110px;
  height: 20px;
  justify-content: center;
}
.UserProject {
  width: 150px;
  padding: 0.8rem;
}
.UserTaskComplete {
  width: 70px;
  text-align: start;
}
.CompleteTask {
  width: 80px;
  display: flex;
  padding-left: 30px;
  text-align: center;
  padding-right: 8px;
}

/* MOBILE  */

.MobileUser {
  margin-top: 3vw;
  overflow-y: scroll;
  height: 98vh;
}
.MobileTaskType {
  display: flex;
  padding: 5px 12px;
  width: 95%;
  overflow-x: scroll;
}
.MobileTaskType > div {
  width: 200px;
  display: flex;
  padding: 0;
}
.MobileContainer {
  background: #7a73ff1c;
  padding-top: 25px;
  height: 40vh;
  margin-top: 2rem;
}
.MobileContainer > h4 {
  margin: 1.5rem;
}
.MobileElement {
  box-shadow: 0px 3px 20px rgba(44, 39, 56, 0.06);
  background-color: #fff;
  padding: 10px;
  margin: 1rem 10px;
  border-radius: 8px;
}
.MobileElement > div {
  margin: 8px 10px;
}
.MobileSubElement1 {
  display: flex;
}
.MobileSubElement1 > div {
  margin: 5px 15px;
}
.MobileSubSection {
  border: 1px solid rgba(122, 115, 255, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  align-items: center;
  text-align: center;
}
.MobileSubElement2 {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}
.SeeMore {
  background: #7a73ff;
  border-radius: 8px;
  color: #fff;
  padding: 8px;
  margin: 10px 40vw;
  width: 30vw;
  border: none;
}
.MobileProject {
  font-size: 18px;
  color: #7a73ff;
}
