@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";
@import "../../assets/styles/mixins.scss";
::placeholder {
  font-family: $font_poppins;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 50%;
  text-transform: none;
  padding: 0.5rem;
}
select::-ms-expand {
  display: none;
}

.inputWrapper {
  @include alignBoxWithFlex(center, center);
}

.default {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid $color_light_grey;
  background-color: $color_white;
  font-family: $font_poppins;
  font-weight: 300;
  line-height: normal;
}

.radio {
  width: 70px;
  height: 25px;
  border-radius: 8px;

  background-color: $color_white;
  font-family: $font_poppins;
  font-weight: 300;
  line-height: normal;
}
.small {
  width: 150px;
  height: 40px;

  border-radius: 8px;
  border: 2px solid $color_light_grey;
  background-color: $color_white;
  font-family: $font_poppins;
  font-weight: 300;
  line-height: normal;
}

.medium {
  width: 358px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid $color_light_grey;
  background-color: $color_white;
  font-family: $font_poppins;
  font-weight: 300;
  line-height: normal;
}

.larger {
  width: 500px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid $color_light_grey;
  background-color: $color_white;
  font-family: $font_poppins;
  font-weight: 300;
  line-height: normal;
}

.auditAssignmentInput,
.auditAssignmentInputWhite {
  min-width: 240px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: $color_light_text;
  line-height: normal;
  background-color: $color_light_grey;
  border: none;
  outline: none;
  padding: 0.6rem 0.5rem;
  border-radius: 4px;

  .auditAssignmentInputWhite:focus,
  .auditAssignmentInput:focus {
    outline: 2px solid $color_blue;
    box-shadow: 0 0 4px rgba(165, 165, 165, 0.705);
  }
  .auditAssignmentInputWhite::placeholder,
  .auditAssignmentInput::placeholder {
    color: rgb(196, 196, 196);
    font-weight: normal;
    text-transform: none;
  }
}
.auditAssignmentInputWhite {
  background-color: #fff;
}
.outline {
  width: 250px;
  height: 40px;
  border: none;
  border-bottom: 2px solid $color_light_grey;
  background-color: $color_white;
  font-family: $font_poppins;
  font-weight: 300;
  line-height: normal;
}

.outline:focus-visible {
  outline: none !important;
}
.outline::placeholder {
  font-size: 20px;
}

.labelContainer {
  margin-bottom: 3px;
  .labelSmall {
    font-size: 12px;
    color: $color_black_text;
  }
  .labelGreyMini {
    font-size: 12px;
    color: rgb(156, 156, 156);
    font-weight: 400;
    font-family: $font_poppins;
    text-transform: capitalize;
  }
  .labelPrimary {
    font-size: 13px;
    color: $color_primary;
    font-weight: 500;
    font-family: $font_poppins;
    text-transform: capitalize;
  }
  .labelMedium {
    font-size: 15px;
    color: $color_black_text;
  }
}
