.co-setting{
  
}
.co-setting .devider-line {
    width: 48px;
    height: 1px;
    margin-bottom: 35px;
    margin-top: 35px;
    object-fit: contain;
    background-color: #eee8fc;
    margin-left: 7.5px;
 
}
.co-setting .left-fixed {
  flex: 0 0 26%;
  max-width: 26%;
}

.co-setting .left-fixed {
  position: fixed;
  z-index: 9;
}
.co-setting .padding-left{
  padding-left: 26%;
}

.co-setting .side-bar .left-bar {
  width: 4.85vw;
  background-color: #f6f9fb;
  padding-top: 30px;
  position: relative;
  padding-left: 0;
  height: 100vh;
}
.co-setting .side-bar-outer{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
}
.co-setting .side-bar-outer{

}
.pad-ms{
  padding: 40px 10px 20px 40px;
  width:100%
}