.select-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
  }
  
  .taskhistory{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    border: 0px  !important;
  }
.St-lable{
    opacity: 0.64;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.24px;
    text-align: left;
    color: #575757;
}
  .dropdown-container {
    position: relative;
  }


  .dropdown {
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 200px;
    overflow-y: auto;
    padding: 0.6rem 0;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgb(192, 192, 192);
    margin-top: 0.4rem;
    z-index: 1;
    transition: all 300ms ease-in-out;
  }
  .dropdown--open {
    pointer-events: all;
    opacity: 1;
    max-height: 110px;
  }
  .select-title {
    font-size: 0.8rem;
    font-weight: 500;
    color: #d9d9d9;
  }
  .select-title-active {
    font-size: 0.8rem;
    font-weight: 500;
    color: #000000;
  }
  .dropdown-item {
    justify-content: space-between;
  }
  .dropdown-item__title {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(72, 72, 72);
  }
  