.modal-image {
  width: 35px;
  height: 35px;
  background-color: rgb(201, 201, 63);
  display: grid;
  place-items: center;
  padding: 0.4rem;
  border-radius: 8px;
  margin-top: 1.5rem;
}

.project-management__modal-icon-image {
  width: 100%;
  margin: auto;
}
.modal-message {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height */

  color: #2c2738;
}
.modal-image--red-background {
  background: rgba(255, 88, 88, 0.2);
}
