.new-regulation-quiz {
  width: 95vw;
  margin-left: auto;
  height: 100vh;
  padding: 1.5rem;
}

.new-regulation-quiz__container {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #ffff;
  padding: 1.5rem 0;
  border-radius: 36px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(240, 240, 240, 1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(240, 240, 240, 1);
  box-shadow: 0px 0px 6px 0px rgba(240, 240, 240, 1);
}
.quiz__header {
  padding: 0 2rem;
}
.quiz__header-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: normal;
  color: #2c2738;
}
.quiz__stepper-steps-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
.quiz__stepper-step {
  background: rgba(46, 43, 107, 0.16);
  width: 100%;
  border-radius: 12px;
  height: 7px;
  cursor: pointer;
}
.quiz__stepper-step--active {
  background: #7a73ff;
}
.quiz__stepper-step--skipped {
  background: rgb(255, 112, 30);
}
.quiz__stepper-main {
  padding: 0 2rem;
  width: 100%;
  min-height: 200px;
}
.quiz__stepper-slide-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quiz__stepper-slide-count {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
  text-transform: uppercase;
  color: #7a73ff;
}
.quiz__stepper-slide-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: normal;
  color: #2c2738;
  text-align: center;
}
.quiz__stepper-option {
  background: #e9e8ff;
  border-radius: 7px;
  padding: 0.75rem 0.5rem;
  margin-bottom: 0.5rem;
  min-width: 300px;
  cursor: pointer;
}
.quiz__stepper-option:last-child {
  margin-bottom: 0;
}
.navigation-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(228, 228, 228);
  display: grid;
  place-items: center;
  color: #ffff;
  cursor: pointer;
}
.navigation-arrow.left {
  left: -3rem !important;
}
.navigation-arrow.right {
  right: -3rem !important;
  left: auto;
}
.navigation-arrow.active {
  background: #7a73ff;
}
.quiz__stepper-option-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
  color: #2c2738;
}
.quiz__stepper-option-title.radio {
  color: #7a73ff;
  font-size: 14px;
}
.quiz__stepper-option--correct {
  background: #7a73ff;
}
.quiz__stepper-option--incorrect {
  background: #ff5858;
}
.quiz__stepper-option--correct .quiz__stepper-option-title,
.quiz__stepper-option--incorrect .quiz__stepper-option-title {
  color: #fff;
}
.quiz__current-status {
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
  color: #2c2738;
  text-align: center;
}
.quiz__current-status--incorrect {
  color: #ff5858;
}
.quiz__current-status--correct {
  color: #7a73ff;
}

/* Button */
.quiz-button {
  background: #fff;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 12px;
  font-family: Poppins;
  border: none;
  outline: none;
  color: #7a73ff;
  text-transform: capitalize;
  font-weight: 500;
  min-width: 120px;
}
.quiz-button--primary {
  background: #7a73ff;
  color: #fff;
}
.quiz-button--outlined {
  border: 1px solid #7a73ff;
  color: #7a73ff;
  background: #fff;
}
.quiz-buttons-container {
  min-width: 300px;
}

.quiz__result-message {
  font-family: Poppins;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  /* identical to box height */
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01em;
  color: #2c2738;
}
.quiz__result-container {
  width: 100%;
}
.quiz__result-item {
  flex: 0.5;
}
.quiz__result-item > img {
  width: 80%;
}

.quiz__count-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #2c2738;
  margin-bottom: 0;
  text-align: right;
}
.quiz__count-value {
  font-family: Poppins;
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
  color: #7a73ff;
  margin-bottom: 0;
  text-align: right;
}
.quiz__count-value.red {
  color: #ff5858;
}
.quiz__result-count-container,
.quiz__result-progress-container {
  flex: 0.5;
}
