.compliance-end {
  background-color: #f4f6f9;
  height: 100vh;
}
/* left section css */
.compliance-end .left-top-corner {
  position: fixed;
  left: -275px;
  top: -1062px;
}
.demo7.heading-section {
  padding-right: 0;
}
.back-ground-image {
  background-image: url("../../../assets/Images/Compliancedemo//left-top-corner.png");
  width: 100%;
  height: 100vh;
  object-fit: contain;
  background-repeat: no-repeat;
  padding: 34px 32px;
  background-position: 230px 60vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.compliance-end .left-section {
  margin-top: 135px;
  position: relative;
  z-index: 9;
}
.compliance-end .left-section .title-hassle {
  font-family: Poppins;
  font-size: 72px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: left;
  color: #2c2738;
  margin-bottom: 30px;
}
.compliance-end .left-section .title-hassle-desc {
  opacity: 0.56;
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: left;
  color: #2c2738;
}
.get-started-button {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #ffffff;
  line-height: 30px;
}
.compliance-end .left-section .email-subscribe {
  background-color: #eef2f7;
  border-radius: 4px;
  padding: 15px;
  display: inline-block;
  margin-top: 35px;
}
.compliance-end .left-section .email-label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2c2738;
}

.compliance-end .left-section .newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.newsletter .content h2 {
  color: #243c4f;
  margin-bottom: 40px;
}
.compliance-end .left-section .newsletter .content .form-control {
  height: 40px;
  border-color: #ffffff;
  border-radius: 0;
  border-radius: 8px;
  box-shadow: none;
  opacity: 0.5;
  border-radius: 8px;
  border: solid 2px #e4e4e4;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.compliance-end .left-section .newsletter .content .form-control:focus {
  border-radius: 8px;
  border: solid 2px #6c5dd3;
  background-color: #ffffff;
  box-shadow: none;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #1b1d21;
  opacity: 1;
}
.compliance-end .left-section .newsletter .content .btn {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #ffffff;
  background-color: #000;
  height: 40px;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0px 25px;
}
.compliance-end .left-section .newsletter .content .btn:hover {
  color: #ffffff;
  background-color: #000;
}
.compliance-end .left-section .newsletter .content .btn:focus {
  color: #ffffff;
  background-color: #000;
}
/* left section css */
/* right section css */
.right-section {
  position: absolute;
  right: 0px;
  top: 150px;
}
.right-section .performance {
  position: absolute;
  right: 318px;
  top: 122px;
}
.right-section .Leaderboard {
  right: 165px;
  z-index: 1;
  top: 72px;
  position: absolute;
}
.right-section .Calendar {
  position: absolute;
  right: -20px;
}

/* right section css */
/* @media (min-width: 1200px){
    .compliance-end .container, .compliance-end .container-lg, .compliance-end .container-md, .compliance-end .container-sm, .compliance-end .container-xl {
        max-width: 90%;
      }
    } */
@media (max-width: 980px) {
  .right-section {
    position: relative;
    top: 30px;
  }
  .back-ground-image {
    overflow: auto;
    background-position: 125px 700px;
  }
}
@media (max-width: 767px) {
  .right-section {
    position: relative;
    right: 10%;
    top: 50px;
  }
  .compliance-end .left-top-corner {
    position: fixed;
    left: -245px;
    top: -1085px;
  }
  .back-ground-image {
    overflow: auto;
    background-position: 125px 415px;
  }
  .compliance-end .left-section {
    margin-top: 91px;
    position: relative;
    z-index: 8;
  }
  .compliance-end .left-section .title-hassle {
    font-family: Poppins;
    font-size: 33px;
    text-align: center;
  }
  .compliance-end .left-section .title-hassle-desc {
    text-align: center;
    font-size: 13px;
  }
  .heading-section {
    text-align: center;
  }

  .right-section .performance {
    position: absolute;
    right: 140px;
    top: 53px;
    width: 151px;
  }
  .right-section .Leaderboard {
    z-index: 1;
    right: 50px;
    top: 32px;
    position: absolute;
    width: 151px;
  }
  .right-section .Calendar {
    position: absolute;
    right: -38px;
    width: 151px;
  }
  .compliance-end .container,
  .compliance-end .container-lg,
  .compliance-end .container-md,
  .compliance-end .container-sm,
  .compliance-end .container-xl {
    max-width: 100%;
    /* padding: 0px; */
  }
}

@media (max-width: 360px) {
  .back-ground-image {
    overflow: auto;
    background-position: 125px 444px;
  }
}
