.logo {
  padding-left: 10px !important;
}
.ER-left-bar {
  background-color: #f6f9fb;
  padding-top: 30px;
  height: 100vh;
  position: relative;
  text-align: center;
  
}

.ER-main {
  padding: 50px 50px;
  width: 1390px;
}

.dashboard-icon {
  margin-top: 100px;
  cursor: pointer;
}

.dashboard-icon-active {
  margin-top: 100px;
  border-right: 2px solid #7a73ff;
  cursor: pointer;
  filter: brightness(0.20) invert(.10) sepia(.10) hue-rotate(100deg) saturate(200%);
   
}

.ER-icone{
  margin-top: 35px;
  cursor: pointer;
}

.ER-icone-active{
  margin-top: 35px;
  border-right: 2px solid #7a73ff;
  cursor: pointer;
  filter: brightness(0.20) invert(.10) sepia(.10) hue-rotate(100deg) saturate(200%);
  
}

.ER-icon {
  margin-top: 35px;
  cursor: pointer;
  position: static;
}

.ER-icon-active {
  margin-top: 35px;
  border-right: 2px solid #7a73ff;
  cursor: pointer;
  filter: brightness(0.20) invert(.15) sepia(.15) hue-rotate(100deg) saturate(200%);
}

.profile-icon {
  margin-top: 35px;
  position: absolute;
  bottom: 30px;
  right: 17px;
  cursor: pointer;
}

.profile-icon-active {
  position: absolute;
  bottom: 30px;
  right: 17px;
  cursor: pointer;
  filter: brightness(0.20) invert(.15) sepia(.15) hue-rotate(100deg) saturate(200%);
}
