.task-management-container {
  margin: 50px 20px 0px 30px;
  border-radius: 20px;
  border-color: #fff;
  padding: 50px;
  background: #fff;
}

.task-management-header {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 0.01px;
  text-align: left;
  color: #2c2738;
  padding-bottom: 18px;
  border-bottom: 3px solid #eee8fc;
}

.task-management-main {
  display: flex;
  justify-content: space-between;
}

.task-management-main p {
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}

.task-status-option {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: solid 1px;
  padding-left: 10px;
}
