@import "../../assets//styles//colors.scss";
.headerBorder {
  padding-top: 10px;
  border-bottom: 1px solid $color_light_black;
}
.newUser {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.toggleList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.columnHeaderTitle {
  font-size: 12px;
  margin-bottom: 0;
  text-align: left !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: Poppins;
}
.balckTextCell {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #2c2738;
  text-transform: capitalize;
}
.blueTextCell {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #0e7bea;
  text-transform: capitalize;
}
