$color_blue: #6c5dd3;
$color_darkblue: #171f93;
$color_green: #26c679;
$color_white: #ffffff;
$color_grey: #616c8d;
$color_light_grey: #f6f9fb;
$color_greyish_blue: #4e577a;
$color_bluegray: #657694;
$color_disabled: #f5f5fa;
$color_disabled_text: #787880;
$color_black_text: #1f2025;
$color_light_text: #1b1b1b;
$color_border: rgba(97, 108, 141, 0.4);
$color_main_background: #fcfdff;
$color_yellow_warning: #fcf6e8;
$color_border_inputs: #616c8d;
$color_placeholder_text: #9e9e9e;
$color_warning_text: #c33e38;
$color_light_blue: #f3f7fe;
$color_spinner_green: #1dc47e;
$color_light_red: #f9eceb;
$primary: $color_blue;
$color_green: #26c679;
$color_light_blue2: #d2e2ff;
$color_warning_background: #fcf6e8;
$color_dark_skyblue: #dde3fd;
$color_back_blue:#e9e8ff;
$color_text_gray:#868686;
$color_ligh_skyblue: #f6f9fb;
$color_light_black: #b3abc4;
$color_primary: #7a73ff;
$color_gery_background: #fafafa;
$color_transparent: transparent;
$color_primary_background: rgba(122, 115, 255, 0.16);
$color_secondary_background: rgba(122, 115, 255, 0.06);
$color_light_border: #d9d4e6;
$color_delete_gray: #b3abc4;
$color_delete_light_gray: #f5f5f5;
$color_medium_grey :#E2E2E2;
