.subscription-option label {
  font-family: Poppins;
  font-size: 21px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: 0.01px;
  text-align: right;
  color: #2c2738;
  margin-left: 10px;
}

.subscription-option input[type="radio"]:checked {
  color: teal;
}

.subscription-option p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.01px;
  color: #828282;
  margin-left: 20px;
}

.subsription-price-details {
  background: #f6f8fb;
  width: 800px;
  padding: 20px 30px;
}

.subsription-price-details div {
  display: flex;
  justify-content: space-between;
}

.subsription-price-details p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}

.total-amount {
  margin-top: 15px;
}

.total-amount p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.01px;
  text-align: right;
  color: #2c2738;
}

.make-payment {
  border: none;
  padding: 10px 20px;
  margin: 20px 30px;
  color: #fff;
  background: #6c5dd3;
  border-radius: 2px;
  text-transform: uppercase;
}
