.BadgesWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0px;
}

.BadgesDiv {
  margin: 0 12px 12px 0;
  padding: 8px 14px;
  border-radius: 40px;
  background-color: #f7f4fe;
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #2c2738;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BadgesDiv span {
  max-width: calc(100% - 20px);
  width: 100%;
}

.CloseBadge {
  width: 20px;
  cursor: pointer;
}

.CloseBadge svg {
  font-size: 20px;
  color: #222;
}

.BadgesDiv:last-child {
  background-color: transparent;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: left;
  color: #6c5dd3;
  text-transform: uppercase;
  padding: 8px 5px;
  cursor: pointer;
}

.BadgesDiv:last-child .CloseBadge {
  display: none;
}

.BadgesDiv:last-child span {
  max-width: 100%;
}
