.logo {
  padding-left: 10px !important;
}

.Super-admin-left-bar {
  background-color: #f6f9fb;
  padding-top: 30px;
  height: 100vh;
  position: relative;
  text-align: center;
}

.Super-admin-main {
  padding: 50px 50px;
  width: 100%;
}

.dashboard-icon {
  margin-top: 122px;
  cursor: pointer;
}

.dashboard-icon-active {
  margin-top: 122px;
  border-right: 2px solid #7a73ff;
  cursor: pointer;
}

.Super-admin-icon {
  margin-top: 20px;
  cursor: pointer;
}

.Super-admin-icon-active {
  border-right: 2px solid #7a73ff;
  cursor: pointer;
}

.profile-icon {
  position: absolute;
  bottom: 30px;
  right: 17px;
  cursor: pointer;
}

.profile-icon-active {
  position: absolute;
  bottom: 30px;
  right: 17px;
  cursor: pointer;
}

.side-bar .left-bar .taskIcon {
  margin-bottom: 0;
}

.Super-admin-dashboard-conatiner {
  display: flex;
}
.taskIcon {
  padding: 10px;
}
.taskIcon-active {
  padding: 10px;
}

.Super-admin-task-statics {
  display: flex;
  border-bottom: 2px solid #eee8fc;
  position: relative;
}

.active-task {
  width: 76px;
  height: 2px;
  margin-top: 47px;
  position: absolute;
  background-color: #7a73ff;
}

.Super-admin-task-statics h3 {
  padding-right: 40px;
}
.task-statics {
  margin-top: 6px;
}

.static-card {
  padding-left: 32px;
}

.static-card span {
  padding-left: 20px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}
.static-card p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #808191;
}

.static-card img {
  width: 24px;
}

.Super-admin-search {
  width: 200px;
  height: 40px;
  margin-left: 40px;
}

.sort-by-filter {
  margin-top: 20px;
  float: right;
}
.sort-by-filter .sort-by {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
  opacity: 0.6;
}

.sort-by-filter .sort-filter-active {
  color: #fff;
  border-radius: 16px;
  background-color: #b3abc4;
  padding: 4px 10px;
  font-size: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.sort-by-filter .sort-filter-inactive {
  color: #b3abc4;
  border-radius: 16px;
  background-color: #f7f4fe;
  padding: 4px 10px;
  font-size: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.Super-admin-take-action {
  margin-top: 40px;
}

.Super-admin-task-container {
  margin-top: 100px;
}

.Super-admin-task-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}
.task-list-grid :hover {
  background: #f1f1f1;
}

.Super-admin-search-input {
  margin-left: auto;
}
.Super-admin-task-detail .code {
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.2px;
  text-align: left;
  color: #b3abc4;
  border: none;
  border-radius: 2px;
}

.Super-admin-task-detail .company-name {
  object-fit: contain;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.28px;
  text-align: left;
  color: #575757;
  margin: 0;
}

.Super-admin-task-detail .date {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.28px;
  text-align: right;
  color: #000;
}
.overdue-date {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.28px;
  text-align: right;
  color: red;
}

.overdue-title {
  color: #f22727;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
}

.overdue-title .overdue-circle {
  width: 16px;
  height: 16px;
  background-color: #f22727;
  margin-left: 8px;
  border-radius: 50%;
}
.overdue-title .overdue-circle-text {
  font-family: Poppins;
  font-size: 8px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.overdue-title .arrowDown {
  width: 8px;
  height: 4.9px;
  margin-left: 17px;
  margin-top: 7px;
}

.overdue-company {
  display: flex;
  align-items: center;
}

.complete-company {
  display: flex;
  align-items: center;
}

.completed-title {
  color: #7fba7a;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
}

.completed-title .completed-circle {
  width: 16px;
  height: 16px;
  background-color: #7fba7a;
  margin-left: 8px;
  border-radius: 50%;
}
.completed-title .completed-circle-text {
  font-family: Poppins;
  font-size: 8px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.completed-title .arrowDown {
  width: 8px;
  height: 4.9px;
  margin-left: 17px;
  margin-top: 7px;
}

.Super-admin-status-button {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.2px;
  text-align: left;
  color: #7fba7a;
  border: none;
}
.Super-admin-view-all-conatiner {
  margin-top: 10px;
}
.Super-admin-view-all-conatiner span {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.02px;
  text-align: left;
  color: #6c5dd3;
}

.nav-title-progress {
  width: 200px;
  position: absolute;
  height: 2px;
  border-radius: 1px;
  margin-top: 15px;
  background-color: #7a73ff;
}

.list-tabs-btn-active {
  font-size: 10px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  background-color: #b3abc4;
  color: #fff;
  border-radius: 20px;
  padding: 2px 6px 2px;
  margin-right: 5px;
}

.list-tabs-btn-inactive {
  font-size: 10px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  background-color: #f7f4fe;
  color: #b3abc4;
  border-radius: 20px;
  padding: 2px 6px 2px;
  margin-right: 5px;
}
.popupmodalright {
  position: absolute;
  top: 0;
  right: -450px;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  transition: all 3000ms ease;
}
.popup-open-right {
  right: 0;
  display: block;
}
.popup-close-right {
  right: -450px;
  display: none;
}

.box1 {
  width: 55%;
  height: 100vh;
  display: inline-block;
}
.box2 {
  height: 100vh;
  width: 45%;
  background: white;
  display: inline-block;
  overflow: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.show-options .Dropdown-control {
  width: 190px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: rgb(228 228 228 / 50%);
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 25px;
  letter-spacing: 0.02px;
  text-align: left;
  color: #1b1d21;
  position: relative;
}
.show-options .Dropdown-menu {
  background-color: #ffffff;
  color: #1b1d21;
  overflow: auto;
  z-index: 1;
  font-size: 12px;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  width: 187px;
  max-width: 240px;
  padding: 9px 0px;
}

.show-options .Dropdown-option {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #1b1d21;
}
.show-options .arrow-open {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #323232;
  position: absolute;
  top: 12px;
  right: 14px;
}
.show-options .arrow-closed {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #323232;
  position: absolute;
  top: 12px;
  right: 14px;
}
