.history-side-bar {
  display: flex;
}
.history-container {
  object-fit: contain;
  border-radius: 36px;
  box-shadow: 0 3px 36px 0 rgb(67 0 255 / 8%);
  background-color: #ffffff;
  position: relative;
  height: 100vh;
  margin: 20px 20px 20px 2.5vw;
  padding: 48px 0;
  width: 100%;
  max-width: calc(100% - 64px);
}

.history-container .row {
  margin: 0px 15px 0px 30px;
}

.SbPara {
  max-width: 240px;
  display: block;
  opacity: 0.6;
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}

h2.main-title {
  font-size: 24px;
  font-weight: 600;
}

h2.main-title img {
  margin: 0 0 0 10px;
}

.filter-button {
  border: none;
  color: #aeaeae;
  margin-top: 10p;
  margin-top: 30px;
  padding: 6px 25px;
  font-size: 12px;
  border-radius: 0.3rem;
}
.filter-button-active {
  border: none;
  color: #fff;
  background: #6c5dd3;
  margin-top: 10p;
  margin-top: 30px;
  padding: 6px 25px;
  font-size: 12px;
  border-radius: 0.3rem;
}
