/* header css  start*/
.get-main {
    height: 100vh;
    padding-bottom: 60px;
    position: relative;
  }
  .get-started-header {
    padding-top: 40px;
  }
  .header_logo {
    object-fit: contain;
  }
  .header_logo img {
    width: 32px;
  }
  .header_logo a:hover {
    text-decoration: none;
  }
  .header_logo .camp {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: left;
    position: relative;
    color: #1b1d21;
    top: 3px;
    left: 6px;
  }
  
  .header .testLabelRight {
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  .header .testing-label {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    margin-bottom: 0px;
  }
  /* header css  end*/
  .comtech_forgot {
    margin-top: 64px;
    /* height: calc(100% - 0px); */
  }
  .comtech_forgot .comtech_forgot_title {
    font-size: 33px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.01px;
    text-align: left;
    color: #2c2738;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
  }
  .comtech_forgot .forgot_form_wrapper {
    max-width: 560px;
    width: 100%;
    margin-bottom: 20px;
  }
  .forgot_form_wrapper span {
    opacity: 0.8;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.02px;
    text-align: left;
    color: #6c5dd3;
    line-height: 40px;
    padding-left: 20px;
}
.forgot-pass-top .comtech_forgot {
  margin-top: 40px;
}
.forgot-pass a {
    text-decoration: none;
    color: #6c5dd3;
    opacity: 0.8;
}
  .forgot_form_wrapper label {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #2c2738;
  }
  
  .forgot_form_wrapper .form-control {
    width: 358px;
    height: 40px;
    opacity: 0.5;
    border-radius: 8px;
    border: solid 1px #e4e4e4;
    background-color: #ffffff;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #aeaeae;
  }
  
  .forgot_form_wrapper .form-control:focus {
    box-shadow: none;
    border: 2px solid #6c5dd3;
    background-color: white !important;
    opacity: 1;
    color: #2c2738;
  }
  .common-button-forgot {
    border-radius: 4px !important;
    background-color: #6c5dd3 !important;
    height: 43px;
    text-transform: uppercase !important;
    width: 130px !important;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal; 
    line-height: normal;
    letter-spacing: 0.02px;
    color: #ffffff;
    margin-top: 17px;
  }
  .common-button-forgot:focus:not(:focus-visible) {
    outline: 0;
    background-color: #000000 !important;
    box-shadow: none !important;
    color: white !important;
}
.common-button-forgot:hover {
    color: #fff;
    text-decoration: none;
}
  .activate-link {
    opacity: 0.42;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #2c2738;
    margin-top: 10px;
  }
  
  .forgot_form_wrapper .login_button {
    background-color: #6c5dd3;
    min-width: 130px;
    height: 43px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-family: "Poppins";
    margin-top: 25px;
  }
  
  .verify-email {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.02px;
    text-align: left;
    color: #ffffff;
  }
  .forgot_form_wrapper .form-group {
    /* min-height: 91px !important; */
    min-height: 100px !important;
    margin-bottom: 0px;
  }
  .forgot_form_wrapper.input-error-message {
    padding-top: 8px !important;
    margin-bottom: 0px !important;
  }
  .input-front-forget-link{
      display: flex;
  }
  /* login section */
  
  /* bottom logo */
  
  .bottom-logo-strip {
    position: absolute;
    bottom: 20px;
    max-width: 83%;
    width: 100%;
  }
  .aligncenter {
    align-items: center;
  }
  .bottom_logo a {
    text-decoration: none;
  }
  .bottom_logo .powerBy {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: left;
    color: #11142d;
    text-decoration: none;
  }
  .bottom-logo-strip a {
    text-decoration: none;
}
  .login-link {
    opacity: 1;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.02px;
    text-align: left;
    color: #6c5dd3;
  }
  .account-link {
    opacity: 0.8;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #2c2738;
  }
  
  .powerBy {
    font-family: Poppins;
    font-size: 11px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.36;
    letter-spacing: 0.7px;
    text-align: left;
    color: #aeaeae;
  }
  /* bottom logo */
  

  @media screen and (max-width: 767px) {
    .left-fixed {
        display: none;
    }
    .forgot-pass-mobile .padding-right {
        padding-left: 14px;
    }
    .forgot-pass-mobile .container{
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    .input-front-forget-link{
        display: block;
    }
    .forgot_form_wrapper span {
        padding-left: 0px;
    }
    .forgot_form_wrapper .form-control {
        width: 100%;
        height: 40px;
    }
    .comtech_forgot .comtech_forgot_title {
        font-size: 23px;
    }
    .common-button-forgot {
      width: 112px !important
    }
  }
  @media screen and (max-width: 320px){
    .comtech_forgot .comtech_forgot_title {
        font-size: 23px;
    }
}

.forgot_form_wrapper .success-form-control {
  width: 358px;
  height: 40px;
  opacity: 1;
  border-radius: 8px;
  border: solid 2px #7fba7a;
  background-color: #ffffff;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
}