.second-section .title {
  list-style-type: none;
}
.second-section .title li:nth-of-type(1) {
  padding-left: 0px;
}
.second-section .title li {
  display: inline-block;
  min-width: max-content;
  padding: 0 20px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #1b1d21;
}
.second-section .title li.active {
  border-bottom: 6px solid #6c5dd3;
  border-radius: 5px;
}

@media (max-width: 767.98px) {
  .second-section .title {
    list-style-type: none;
  }
  .second-section .title li:nth-of-type(1) {
    padding-left: 0px;
  }
  .second-section .title li {
    display: inline-block;
    min-width: max-content;
    padding: 0 20px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #1b1d21;
  }
  .second-section .title li.active {
    border-bottom: 6px solid #6c5dd3;
    border-radius: 5px;
  }
}
