.RD-document {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}

.RD-fileadd {
  border: none;
  background-color: white;
  display: none;
}

.RD-filesinput {
  width: 270px;
  height: 40px;
  margin: 15px 130px 0 0;
  border-radius: 4px;
  background-color: #e4e4e4;
}

.RD-filebox {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.01px;
  text-align: left;
  color: #1b1d21;
  padding: 6px;
}


/* === Button === */
.task-details__button {
  border: none;
  background-color: transparent;
  outline: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: #2c2738;
  font-size: 13px;
  font-weight: 500;
}
.task-details__button--stroke {
  color: #6c5dd3;
}
.task-details__button--primary {
  background-color: #6c5dd3;
  color: #fff;
}
.task-details__button--outlined {
  color: #6c5dd3;
  border: 1px solid #6c5dd3;
}
.AR-links{
  width: 377px;
  height: 40px;
  margin: 16px 23px 16px 11px;
  object-fit: contain;
  background-color: #e4e4e4;
}

.RD-Link{
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.01px;
  text-align: left;
  color: #1b1d21;
  padding: 10px;
}