.main {
  display: flex;
  height: 100vh;
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}
.content {
  width: 100%;
  height: 100%;
  background-color: #ffff;
  border-radius: 36px;
  box-shadow: 0px 0px 6px 0px rgba(240, 240, 240, 1);
  padding: 1.5rem;
  overflow-x: auto;
}
