.add-project-text-editor {
  margin: auto;
  width: 100%;
  /* margin-top: 8px; */
  justify-content: center;
  background: rgba(122, 115, 255, 0.16);
  /* border-radius: 6px; */
}

.add-project-tex-editor-wrapper {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 6px;
}

.add-project-editor-box {
  height: 100px;
  padding: 0.25rem 0.75rem;
}
