@import "../../assets/styles/colors";
@import "../../assets/styles/mixins.scss";
.default {
  background: $color_blue;
  border: none;
  color: $color_white;
  min-width: em(250px);
}

.default:hover {
  cursor: pointer;
}
.stroke {
  background-color: transparent;
  border: none;
  color: $color_primary;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
}

.item {
  background: $color_white;
  border: none;
  color: $color_black_text;
  min-width: em(250px);
}

.item:hover {
  cursor: pointer;
}

.preview {
  background: $color_white;
  border-color: $color_blue;
  border: 1px solid;
  color: $color_blue;
  min-width: em(250px);
}

.preview:hover {
  cursor: pointer;
}

.disabled {
  max-width: 17.5em;
  width: 100%;
  height: 2.75em;
  background: $color_disabled;
  border-radius: 0.4em;
  border: none;
  color: $color_disabled_text;
  font-size: 1.25em;
  line-height: 1.15em;
  font-style: normal;
  font-weight: 500;
}

.secondary {
  border: 0.05em solid $color_green;
  background: $color_white;
  color: $color_green;
}

.secondary:hover {
  cursor: pointer;
}

.small {
  border-radius: 0.4em;
  height: 2.625em;
  width: 9.125em;
  font-size: 1em;
  line-height: 1.1875em;
  font-style: normal;
  font-weight: 500;
}

.small:hover {
  cursor: pointer;
}

.medium {
  border-radius: 0.4em;
  width: 100%;
  max-width: 17.5em;
  height: 2.75em;
  font-size: 1em;
  line-height: 1.15em;
  font-weight: 500;
  font-style: normal;
}

.medium:hover {
  cursor: pointer;
}

.add-button {
  width: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  border-radius: 5px;
  background-color: $color_primary;
}

.iconButtonRound {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  @include alignBoxWithFlex(center, center);
  transition: background 0.3s ease;
  &:hover {
    background-color: rgb(247, 247, 247);
  }
  &:active,
  &:focus {
    outline: 1px solid rgb(85, 85, 85);
    background-color: rgb(236, 236, 236);
  }
}
.removeIcon {
  background: $color_transparent;
  border: none;
  color: $color_warning_text;
  min-width: em(250px);
}
.addIcon {
  background: $color_transparent;
  border: none;
  color: $color_blue;
  min-width: em(250px);
}

.removeIcon:focus {
  cursor: pointer;
}
.addIcon:focus {
  cursor: pointer;
}

.backIcon {
  background-color: $color_transparent;
  color: $color_black_text;
  border: none;
  min-width: em(250px);
  cursor: pointer;
}

.stepperSaveBtn {
  background: $color_blue;
  border: none;
  color: $color_white;
  min-width: em(250px) !important;
  font-size: 10px !important;
  cursor: pointer;
}

.stepperExitBtn {
  background: $color_transparent;
  border: none;
  color: $color_blue;
  min-width: em(250px) !important;
  border: 1px solid $color_blue;
  font-size: 10px !important;
  cursor: pointer;
}

.edit {
  background: $color_transparent;
  border: none;
  color: $color_blue;
  font-size: 12px !important;
  cursor: pointer;
}

//Audit card component
.auditButton{
  background: $color_blue;
  margin-top: 107px;
  font-size:small;
  margin-left: -140px;
  color: $color_white;
  cursor: pointer;
  width: 110px;
  height: 45px;
}
.auditIconButton{
  background-color: $color_light_sky;
  margin-top: 122px;
  font-size: small;
  margin-left: -203px;
  border: none !important;
  margin-right: 60px;
  font-size: large;
  width: 29px;
  height: 40%;
  cursor: pointer;
}

//Audit Template List
.auditTemplateSearchIconButton{
  background-color:$color-white;
  border: none !important;
  width: 1%;
  height: 32px;
  margin-left: 1097px;
  margin-top: 2px;
}
.auditTemplatePlusIconButton{
  background-color: $color_white;
  border: none !important;
  width: 2%;
  height: 20px;
  margin: 5px 700px;
}
.editIcon{
  background-color: $color_white;
  border: none !important;
  width: 4%;
  height: 6%;
}
.rightIcon{
  background-color: $color_white;
  border: none !important;
  width: 100%;
  height: 6%;
 
}
