.license-details {
    background-color: transparent;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
  }
  /* ==== Side Overview ==== */
  .task-detail__side-overview {
    background-color: #fff;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    flex: 0.27;
  }
  /* Header */
  .side-overview__header {
    padding: 2.5rem 1rem 0;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 4;
  }
  .side-overview__header--title {
    position: relative;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.01px;
    text-align: left;
    color: #2c2738;
    /* border-bottom: 2px solid #7a73ff; */
  }
  .side-overview__header--title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #7a73ff;
  }
  .side-overview__header > div {
    border-bottom: 2px solid #eee8fc;
  }
  .side-overview__header--search-icon {
    cursor: pointer;
  }
  .side-overview__header--search-box > input {
    padding-left: 40px;
    padding-right: 40px;
    height: 47px;
    border-radius: 8px;
  }
  .side-overview__header--search-box > input:focus {
    border: solid 2px #6c5dd3;
    background-color: #ffffff;
    box-shadow: inherit;
  }
  .search-box-search,
  .search-box-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .search-box-search {
    left: 4px;
  }
  .search-box-close {
    right: 12px;
    cursor: pointer;
  }
  /* Sort By Filters */
  .side-overview__sort-by {
    padding: 1rem;
  }
  .side-overview__sort-by--item {
    color: b3abc4;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: normal;
    text-transform: capitalize;
  }
  span.sort-by-filter {
    padding: 0 0.3rem;
    border-radius: 12px;
    cursor: pointer;
    background-color: #f7f4fe;
    margin: 0;
  }
  span.sort-by-filter--active {
    color: #fff;
    background-color: #b3abc4;
  }
  /* ========================= */
  /* Tasks List */
  .licenses-list__category-heading {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0px;
    text-align: left;
    color: #2c2738;
  }
  .licenses-list__category-heading--small {
    font-size: 13px;
  }
  .licenses-list__item-tasks {
    background-color: #f6f8fb;
  }
  .licenses-list__task-name,
  .licenses-list__task-date,
  .task-details__refrences-faqs-paragraph {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.24px;
    text-align: left;
    color: #575757;
  }
  .licenses-list__task-date {
    font-weight: normal;
    color: #f22727;
  }
  .license-details__expand-more {
    font-size: 1.3rem;
  }
  .license-details__expand-more--90deg {
    transform: rotate(-90deg);
  }
  .licenses-list__task {
    cursor: pointer;
  }
  .licenses-list__task--active {
    background-color: #f2ecff;
  }
  /* ================ */
  /* === Button === */
  .task-details__button {
    border: none;
    background-color: transparent;
    outline: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    color: #2c2738;
    font-size: 13px;
    font-weight: 500;
  }
  .task-details__button--stroke {
    color: #6c5dd3;
  }
  .task-details__button--primary {
    background-color: #6c5dd3;
    color: #fff;
  }
  .task-details__button--outlined {
    color: #6c5dd3;
    border: 1px solid #6c5dd3;
  }
  /* =========================== */
  /* ==== Task Data ==== */
  .task-detail__task-data {
    /* background-color: rgb(183, 180, 180); */
    flex: 0.73;
    height: 100vh;
    overflow-y: auto;
    display: grid;
    place-items: center;
  }
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.34;
  }
  .background-image > img {
    width: 100%;
    height: 100%;
  }
  .circle {
    width: 20px;
    height: 20px;
    background-color: #e4e1ff;
    border-radius: 50%;
    color: #9e8fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* ====== Accordion ====== */
  .task-details__accordion-container {
    background-color: #f9f7ff;
    border-radius: 4px;
  }
  .task-details__accordion-item.check-icon {
    flex: 0.3;
  }
  .task-details__accordion-title {
    flex: 0.8;
    font-size: 12px;
    font-weight: 500;
    color: #575757;
  }
  .task-details__accordion-right {
    flex: 0.2;
    color: #575757;
    /* border: 1px solid black; */
  }
  .task-details__accordion-text--small {
    font-size: 10px;
    font-weight: 500;
  }
  .task-details__accordion-button {
    color: #575757;
    font-size: 1.3rem;
    line-height: 1rem;
    font-weight: bold;
  }
  .task-details__accordion-data {
    background-color: #f2f2f2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 300ms ease;
  }
  /* ======================= */
  /* Show By Dropdown */
  .form-control.side-overview__show-by--dropdown {
    background-color: #f3f2fd;
    border: none;
    outline: none;
    width: 105px;
    font-size: 0.8rem;
    padding: 0.2rem;
    height: calc(0.8rem + 0.8rem);
  }
  /* ================ */
  /* References FAQs */
  .task-details__references-faqs {
    background-color: #e4e4e421;
    border-radius: 4px;
  }
  .task-details__refrences-faqs-paragraph {
    opacity: 0.56;
  }
  /* =============== */
  @media screen and (max-width: 767.99px) {
    .task-detail__task-data {
      flex: 1;
    }
  }