/* header css  start*/

.get-started-header {
  padding-top: 40px;
}
.header_logo {
  object-fit: contain;
}
.header_logo img {
  width: 32px;
}
.header_logo a:hover {
  text-decoration: none;
}
.header_logo .camp {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: left;
  position: relative;
  color: #1b1d21;
  top: 3px;
  left: 6px;
}
.header .testLabelRight {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.header .testing-label {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  margin-bottom: 0px;
}
/* header css  end*/

.email-verify {
  margin-top: 40px;
  height: calc(100% - 0px);
}
.email-verify img {
  margin-bottom: 32px;
  width: 52px;
  height: 52px;
}
.email-verify .verify-title {
  width: 574px;
  font-size: 33px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: left;
  color: #2c2738;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
}
.email-verify .form_wrapper {
  max-width: 358px;
  width: 100%;
  margin-bottom: 20px;
}

.verify-link {
  object-fit: contain;
  opacity: 0.82;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}

/* login section */

/* bottom logo */

.bottom_logo a {
  text-decoration: none;
}
.bottom_logo .powerBy {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: left;
  color: #11142d;
}
.login-link {
  opacity: 0.8;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #6c5dd3;
}
.account-link {
  opacity: 0.8;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}

.powerBy {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.36;
  letter-spacing: 0.7px;
  text-align: left;
  color: #aeaeae;
}
/* bottom logo */

@media screen and (max-width: 767px) {
  .left-fixed {
      display: none;
  }
  .padding-right {
      padding-left: 4%;
  }

  .verify-title {
      font-size: 23px !important;
  }
}
@media screen and (max-width: 320px){
  .verify-title{
      font-size: 26px !important;
  }
}