@import "../../assets//styles/colors.scss";
.container{
    padding: 10px;
    
}

.fileUploadBox{
    width: 100%;
    height: 200px;
    border: dashed 1px $color_grey;
}

.imageDisplay{
    margin: 60px auto;
    text-align: center;
}

.uploadFileText{
    color: $color_blue;
}