.week-main {
  background-color: #dedcff;
  padding: 12px 10px 12px 8px;
  margin-top: 5px;
  cursor: pointer;
}

.week-detail h2 {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #1b1d21;
}

.week-table tr th {
  border-right: 1px solid #ccc;
  border-top: 0px;
  text-align: center;
}

.week-table tr td {
  border-right: 1px solid #ccc;
  border-top: 0px;
}

@media screen and (max-width: 767.99px) {
  .week-table tr th,
  .week-table tr td {
    border: none !important;
  }
  .week-table tr th {
    text-align: left;
    font-weight: 600;
  }
  .week-main {
    margin: 10px 0;
  }
  .co-company-details-tbl {
    min-width: 960px !important;
    max-width: 260% !important;
    min-height: 300px;
  }
  .co-company-details-tbl::-webkit-scrollbar {
    width: 4px;
  }
  .co-company-details-tbl::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0px;
  }
  .co-company-details-tbl::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: rgb(214, 214, 214);
    border-radius: 0px !important;
  }
  .detail-main {
    overflow-x: auto;
  }
}
