.re-container {
  background-color: white;
  border-radius: 1rem;
  height: 90vh;
  width: 530px;
  padding: 1rem 1.5rem;
}
.re-container > .modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.re-container > .modal-top > img {
  cursor: pointer;
}
.re-container > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(209, 209, 209);
}
.re-container .header-controls {
  margin: 2.5rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-after-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}
.header-after-selected > img {
  cursor: pointer;
}
.header-controls .form-control {
  flex: 0.5;
}
button.re-assign-to-me,
button.re-assign,
button.cancel {
  flex: 0.35;
  background-color: #6c5dd3;
  outline: none;
  border: none;
  padding: 0.7rem 0.5rem;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
button.cancel {
  margin-left: 1rem;
  background-color: white;
  border: 1px solid #6c5dd3;
  color: #6c5dd3;
}
button.cancel,
button.re-assign {
  padding: 0.5rem 2rem;
}
.member-list {
  overflow-y: auto;
}
.member {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  cursor: pointer;
}
.filters {
  height: 65vh;
  position: relative;
}

.member-name,
.filter > p {
  font-size: 12px;
  margin: 0 0.5rem;
  font-weight: 700;
}
.member-email {
  font-size: 12px;
  color: rgb(111, 111, 111);
}
.filter {
  margin: 1rem 0;
  cursor: pointer;
}
.filter > p {
  margin-left: 0;
}
.filter > p > img {
  margin-right: 0.5rem;
}
.selected-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.selected-member > img {
  cursor: pointer;
  margin-left: 0.3rem;
}
.buttons-re-assign {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.form-group > label {
  flex: 0.3;
}
.form-group > div {
  flex: 1.5;
  width: 100%;
}
.warnings {
  color: red;
  font-size: 0.7rem;
  margin-top: 0.5rem;
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {} */

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .re-container {
    width: 100vw;
  }
  /* .container {
    height: 95vh;
    width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  } */
  .customReAssignModalContainerMobile {
    position: relative;
    height: 100vh !important;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .customReAssignModalMobile {
    position: absolute !important;
    padding: 0 !important;
    margin: 0 !important;
    bottom: 0 !important;
    left: 0;
  }
  .re-container .header-controls {
    flex-direction: column;
    width: 100%;
  }
  .re-container > .header > .header-controls span {
    font-weight: bold;
    margin: 0.5rem 0;
  }
  .filters {
    height: 75vh;
  }
  button.re-assign-to-me,
  button.re-assign,
  button.cancel {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    margin-left: 0;
  }
  button.re-assign-to-me {
    margin: 0;
  }
  .buttons-re-assign {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .form-group > label {
    flex: 0.4;
  }
  .form-group > div {
    flex: 1.8;
  }
  .warnings {
    font-size: 0.6rem;
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
} */
