@import "../../assets//styles//colors.scss";

.maincontainer {
  display: flex;
  .container {
    box-shadow: 0 3px 36px 0 rgba(67, 0 ,255 , 0.08);
    background-color: $color_white;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    width: 100%;
  }
}

.subContainer{
    
    margin-right: auto;
    padding: 10px;
}
.borderBox{
    display: flex;
    border-bottom: 1px solid $color_grey;
}
.stepper{
    padding: 10px;
}
.buttonContainer{
    display: flex;
    padding: 20px;
}

.saveButton{
    margin-right: auto;
}

.mainContent{
    margin-top: 20px;
}
