@import "../../assets//styles//colors.scss";
@import "../../assets/styles/mixins.scss";

.maincontainer {
  padding: 0 !important;
  .auditHeader {
    padding: 0.75rem 1.5rem 1rem 1.5rem;
    .auditHeaderButtonContainer {
      @include alignBoxWithFlex(center, space-between);
      margin-bottom: 0.5rem;
    }
    .stepperContainer {
      & > div {
        margin-bottom: 1.5rem !important;
        margin-right: 1.5rem;

        & > div > p {
          font-size: 10px;
        }
        & > div > img {
          height: 18px;
        }
      }
    }
    .auditHeaderBorder {
      height: 2px;
      width: 100%;
      background-color: $color_light_grey;
    }
  }
  .auditAssignmentMain {
    width: 100%;
    overflow: hidden auto;
    padding: 0 1rem 1rem;
  }
  .container {
    box-shadow: 0 3px 36px 0 rgba(67, 0, 255, 0.08);
    background-color: $color_white;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    width: 100%;
  }

  .saveTemplate {
    button {
      margin-top: 20px;
    }
  }
}

.rightAlign {
  justify-content: flex-end !important;
}
