@import "../../assets/styles/colors";

.maincontainer {
  display: flex;
  .lefsidebar {
    padding: 0px 0px 0px 12px;
  }
  .container {
    box-shadow: 0 3px 36px 0 rgb(67 0 255 / 8%);
    background-color: $color_white;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    width: 100%;
  }
}
