.date-container {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}
.take-action .date-container {
  padding: 20px 0;
}
.take-action .calender {
  padding: 0 24px 0 0;
}
.current-date {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}

.date-container svg {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
  margin-top: -1px;
}

.active-day {
  padding: 7px 16px 6px;
  border-radius: 4px;
  background-color: #6c5dd3;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: right;
  color: #ffffff;
  border: none;
}

.inactive-day {
  padding: 7px 16px 6px;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #1b1d21;
  background-color: #f7f4fe;
  border: none;
}

/* .calender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  padding: 0px 40px;
} */

.day-name {
  border-bottom: 1px solid #eee8fc;
  height: auto;
  padding: 25px;
  opacity: 0.5;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: center;
  color: #2c2738;
}
.day-name:nth-child(n + 2) {
  border-left: 1px solid #eee8fc;
}

.day {
  border-bottom: 1px solid #eee8fc;
  height: auto;
  padding: 5px 2px 0px 8px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: left;
  color: #2c2738;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.day:nth-child(n + 2) {
  border-left: 1px solid #eee8fc;
}

.day-disable {
  border-bottom: 1px solid #eee8fc;
  height: auto;
  padding: 5px 2px 0px 25px;
  opacity: 0.5;
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: left;
  color: #2c2738;
  background: #e1e0e4;
}

.UserNameDp {
  display: flex;
  align-items: center;
}

.CompanyName {
  margin: 10px 0;
}
.CompanyName span {
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #828282;
  word-wrap: break-word;
}

.week-detail h2 {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #1b1d21;
  margin-top: 6px;
}

.view-more {
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #6c5dd3;
  border: none;
  background: none;
  font-weight: bold;
}

.button-code {
  border-radius: 2px;
  background-color: #f1f3ff;
  border: none;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2c2738;
  margin: 0 0 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
}

.button-code:hover .tooltip-container {
  position: absolute;
  z-index: 9;
  display: block;
}

.tooltip-container {
  padding: 10px 20px 20px 20px;
  border-radius: 8px;
  background-color: #6c5dd3;
  width: 315px;
  display: none;
  top: 32px;
  left: 0px;
}

.tooltip-container:before {
  background: url("../../../assets/Icons/Polygon.png") no-repeat top left;
  background-size: cover;
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  top: -12px;
  left: 9px;
}
.tooltip-title {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.tooltip-company-detail {
  display: flex;
  justify-content: space-between;
}

.tooltip-view-detail-button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 12px;
}

.tooltip-compant-name {
  color: #ffffff;
  font-size: 12px;
}

.circle-dp-tooltip {
  width: 20px;
  height: 20px;
  object-fit: contain;
  float: left;
  border-radius: 8px;
  background-color: #eae8ff;
  object-fit: contain;
  font-family: Poppins;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  text-align: center;
  color: #b3abc4;
  padding: 5px 5px 4px;
  margin-right: 6px;
  margin-top: 4px;
}

.user-name-tooltip {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #ffffff;
}

.inactive-date {
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: left;
  color: #2c2738;
  opacity: 0.5;
}

.active-date {
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: left;
  color: #2c2738;
  padding: 8px 12px;
  background-color: #6c5dd3;
  border-radius: 50px;
  color: #ffffff;
}
.view-by-select {
  border-radius: 30px !important;
  min-height: 20px !important;
  padding: 3px 10px !important;
  background-color: #b3abc4;
  font-size: 11px;
  color: #fff;
  border: none !important;
  font-weight: 500;
  box-shadow: none !important;
}
.react-dropdown-select-dropdown {
  border-radius: 0.5rem !important;
}
.react-dropdown-select-item {
  color: #1b1d21;
}
.react-dropdown-select-dropdown-handle > svg:focus,
.react-dropdown-select-dropdown-handle > svg {
  color: #fff;
}
.react-dropdown-select-item-selected {
  background: #6c5dd3 !important;
}
/* .view-by-select:focus-withink,
.view-by-select:focus {
  border: none !important;
  box-shadow: 0 0 0 black !important;
} */

@media screen and (max-width: 767.99px) {
  .date-container {
    /* padding: 30px 20px; */
    padding: 0px 20px 25px;
  }
  .date-container svg {
    font-size: 12px;
    font-weight: 700;
  }
  .current-date {
    font-size: 12px;
    font-weight: 700;
  }
}
