.complinace-right-side-grid-demo-2 {
    width: 100%;
    height: 410px;
    margin: 44px 64px 46px 0px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    box-shadow: 0 8px 36px 0 rgb(0 0 0 / 8%);
}
.complinace-right-grid{
    background-image: url("../../../assets/Images/Compliancedemo/bg.png");
    width: 649px;
    height: 491px;
    object-fit: contain;
    background-repeat: no-repeat;
    padding: 34px 32px;
}
.complinace-right-grid-title{
    width: 173px;
    height: 63px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #11142d;
    margin-bottom: 0px;
}
.arrow-preview-next {
    width: 100%;
    margin-bottom: 0px;
}
.complinace-right-blue-btn{
    background-image: url("../../../assets/Images/Compliancedemo/blueLabel.png");
    width: 261px;
    height: 56px;
    object-fit: contain;
    float: left;
    mix-blend-mode: multiply;
    border-radius: 8px;
    background-blend-mode: multiply;
    padding: 0px 19px;
    /* margin-bottom: 7px; */
    /* background-image: linear-gradient(to bottom, #d8f7ff, #d8f7ff); */
    position: absolute;
    left: 28px;
    top: 132px;
    bottom: 0px;
    right: auto;
}
.complinace-right-icon-text{
    line-height: 55px;
}
.complinace-right-title{
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2c2738;
  }
  .align-right {
	float: right;
}
.compliance-task-green-btn{
    width: 395px;
    height: 56px;
    object-fit: contain;
    border-radius: 8px;
    padding-right: 8px;
    line-height: 55px;
    position: absolute;
    background-color: #f1ffd8;
    left: 163px;
    /* margin-bottom: 14px; */
    top: 200px;
  }
  .green-btn-dark{
    width: 231px;
    height: 56px;
    object-fit: contain;
    mix-blend-mode: multiply;
    border-radius: 8px;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #f1ffd8, #f1ffd8);
    padding: 0px 19px;
    position: absolute;
}
.purple-btn-dark {
    width: 237px;
    height: 56px;
    object-fit: contain;
    mix-blend-mode: multiply;
    border-radius: 8px;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #f1d8ff, #f1d8ff);
    padding: 0px 19px;
    position: absolute;
}
.compliance-task-creme-btn {
    width: 261px;
    height: 56px;
    object-fit: contain;
    background-color: #fff7d8;
    border-radius: 8px;
    padding-right: 8px;
    line-height: 55px;
    position: absolute;
    margin-bottom: 25px;
    bottom: -4px;
    right: -20px;
}
.creme-btn-dark {
    width: 127px;
    height: 56px;
    object-fit: contain;
    mix-blend-mode: multiply;
    border-radius: 8px;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #fff7d8, #fff7d8);
    padding: 0px 19px;
    position: absolute;
}
.compliance-task-purple-btn {
    width: 329px;
    height: 56px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #f1d8ff;
    border-radius: 8px;
    padding-right: 8px;
    line-height: 55px;
    position: absolute;
    left: 72px;
    top: 267px;
    margin-bottom:0px;
}
.percent-value{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1b1d21;
}
.green-user-icon{
    position: absolute;
    right: 8px;
}
.white-box-demo2{
    width: 100%;
    height: 416px;
    object-fit: contain;
    background-size: contain;
    padding: 14px 24px;
    background-repeat: no-repeat;
    background-color: inherit;
    border-radius: 20px;
    position: static;
    /* background-image: url("../../../assets/Images/Compliancedemo/bg.png"); */
}



@media (max-width:980px){
    .complinace-right-side-grid-demo-2 {
        width: 100%;
        height: 422px;
        margin: 84px 58px 46px 0px;
        object-fit: contain;
    }
}
@media (max-width:767px){

    /* .mobile-padding {
        padding: 0px 58px;
    } */
    .percent-value {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
    }
    .complinace-right-side-grid-demo-2 {
        width: 249px;
        height: 291px;
        margin: 0 auto;
        object-fit: contain;
    }
    .complinace-right-icon-text img {
        width: 16px;
        height: 16px;
    }
    .complinace-right-blue-btn {
        height: 27px;
        width: 171px;
        left: -39px;
        top: 87px;
    }
    .complinace-right-title {
        font-size: 10px;
    }
    .align-right {
        float: right;
        font-size: 10px;
    }
    .complinace-right-icon-text {
        line-height: 28px;
    }
    .compliance-task-green-btn {
        width: 171px;
        height: 27px;
        left: 62px;
        top: 138px;
    }
    .green-btn-dark {
        width: 85px;
        height: 27px;
        padding: 0px 13px;
    }
    .green-user-icon {
        position: absolute;
        right: 8px;
        width: 20px;
        height: 20px;
        line-height: initial;
    }
    .compliance-task-purple-btn {
        width: 171px;
        height: 27px;
        left: 26px;
        top: 189px;
    }
    .purple-btn-dark {
        width: 123px;
        height: 27px;
    }
    .complinace-right-grid-title {
        width: 124px;
        font-size: 14px;
    }
    .white-box-demo2 {
        width: 100%;
        padding: 30px 30px;
        height: 291px;
    }
    .compliance-task-creme-btn {
        width: 171px;
        height: 27px;
        bottom: 0px;
        right: -25px;
    }
    .creme-btn-dark {
        width: 127px;
        height: 27px;
    }
    /* .complinace-right-blue-btn {
        width: 176px;
        height: 27px;
    }
    .green-btn-dark {
        width: 176px;
        height: 27px;
    } */
    
}
