div.task-data-fields > .w-100.d-flex {
  margin: 0;
}
.task-data__field-key,
.task-data__field-value {
  width: auto !important;
}
.task-data__field-value--success {
  color: #47bf6b;
}
h6 {
  width: auto;
}
.client-details__table th {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.02px;
  text-align: left;
  color: #2c2738;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
.client-details__table td {
  padding-bottom: 1rem;
}
.client-details__task_name {
  text-transform: capitalize;
}
.client-details__co-name {
  opacity: 0.9;
  text-transform: capitalize;
}
span.client-details__bussiness-type {
  border-radius: 2px;
  margin-left: 0;
  margin-right: 0.2rem;
}
span.client-details__users-circle {
  border-radius: 0.5rem;
  text-transform: uppercase;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  font-size: 8px;
  line-height: 8px;
}
span.client-details__users-circle--overlaped {
  margin-left: -0.4rem;
  box-shadow: 0px 1px 1px rgb(219, 217, 217);
}
.client-details__show-more {
  font-size: 0.7rem;
  cursor: pointer;
}
