.navbar {
    padding-top: 32px;
  }
  .navbar-getstarted-button-demo {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #6c5dd3;
    text-align: center;
    cursor: pointer;
  }
  
  .navbar-heading {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #1b1d21;
  }
  
  
  .nav-link-fonts{
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: #1b1d21 !important;
      margin-left: 10px;
      margin-right: 10px;
  }
  
  .navbar-bottom-border{
      border-bottom: 1px solid #e4e4e4;
  }

  .compliance-module-demo-text{
    font-family: Poppins;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #2c2738;
  }