@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";

.default {
  color: $color_black_text;
  margin: 0px;
  padding: 0px;
}
.primary {
  color: $color_blue;
}
.grey {
  color: $color_grey;
}
.white {
  color: $color_white;
}

.default {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-family: $font_sans_serif;
}

.stepperMainHeading {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: $font_poppins;
}
.stepperSubHeading {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-weight: normal;
  color: $color_light_text;
  font-family: $font_poppins;
  line-height: normal;
}

.stepperSubHeadingBold {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: $color_light_text;
  font-family: $font_poppins;
  line-height: normal;
}

.smallTableHeading {
  font-size: 11px;
  text-transform: uppercase;
  color: #797979;
  margin-bottom: 0;
}

.small {
  font-size: 12px;
  font-style: normal;
  font-family: $font_sans_serif;
}
.label_variant{
  color: $color_grey;
}

.reviewDetailsLeft {
  color: $color_grey;
}

//Audit Template List
.templateMainHeading{
  margin-top: 20px;
  margin-left: 15px;
  height: 21px;
}
.createNewTemplate{
  color: $color_blue;
  margin-left: 725px;
  margin-top: -24px;
  cursor: pointer;
}
.sortBy{
  color: $color_black_text;
  margin-left: 950px;
  margin-top: -24px;
  cursor: pointer;
  font-size: small;
}
// .name{
//   color: $color_black_text;
//   margin-left: 6px;
//   margin-top: -22px;
//   cursor: pointer;
//   font-size: small;

// }
// .createdBy{
//   color: $color_black_text;
//   margin-left: 1090px;
//   margin-top: -22px;
//   cursor: pointer;
//   font-size: small;
// }
// .auditType{
//   color: $color_black_text;
//   margin-left: 1171px;
//   margin-top: -22px;
//   cursor: pointer;
//   font-size: small;
// }
.completeTemplates{
  color: $color_blue;
}
.startAudit{
  color: $color_blue;
}

.large{
  font-size: 30px;
  font-style: normal;
  font-family: $font_poppins;
}