@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";

.default {
  color: $color_black_text;
  margin: 0px;
  padding: 0px;
}
.primary {
  color: $color_blue;
}
.grey {
  color: $color_grey;
}
.white {
  color: $color_white;
}

.default {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-family: $font_sans_serif;
}

.stepperMainHeading {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0rem;
  font-weight: 500;
  font-family: $font_poppins;
  position: relative;
  padding: 10px;

}

// .stepperMainHeading::after{
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: -3px;
//   height: 3px;
//   background-color: #7a73ff;
//   width: 175px;
// }
.stepperSubHeading {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-weight: normal;
  color: $color_light_text;
  font-family: $font_poppins;
  line-height: normal;
}

.stepperSubHeadingBold {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: $color_light_text;
  font-family: $font_poppins;
  line-height: normal;
}

.smallTableHeading {
  font-size: 11px;
  text-transform: uppercase;
  color: #797979;
  margin-bottom: 0;
}

.small {
  font-size: 12px;
  font-style: normal;
  font-family: $font_sans_serif;
}

.label_variant {
  color: $color_grey;
}

.reviewDetailsLeft {
  color: $color_grey;
}
.error {
  font-size: 12px;
  font-style: normal;
  font-family: $font_sans_serif;
  color: $color_warning_text;
}

.large{
  font-size: 30px;
  font-style: normal;
  font-family: $font_poppins;
}