.header-demo {
  height: 104px;
  line-height: 104px;
  background-color: #fff;
  z-index: 99;
  position: fixed;
  right: 0;
  left: 0;
}
.header-demo .header-logo .camp {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: left;
  color: #2c2738;
}
.header-demo .header-logo .compliance {
  font-family: Poppins;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
  border-left: 1px solid #e1dfdf;
  padding-left: 8px;
}
.header-demo .header-logo a {
  text-decoration: none;
}
.header-demo .header-logo .skip-demo {
  opacity: 0.8;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #6c5dd3;
}
.skip-demo-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
}
