.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 3px 36px rgba(67, 0, 255, 0.05);
    border-radius: 20px;
    padding: 30px,
}