.client-circle {
  background-color: rgb(0, 0, 0) !important;
  border-radius: 50%;
}
.client-circle .circle-text {
  color: #fff !important;
}
.ER-task-detail .code {
  background: #e4f1e4 !important;
  color: #7fba7a !important;
  height: 18px;
  margin-top: 21px;
  margin-left: 10px;
}
