.new-regulation-side-bar {
  display: flex;
}
.new-regulation-container {
  object-fit: contain;
  border-radius: 36px;
  box-shadow: 0 3px 36px 0 rgb(67 0 255 / 8%);
  background-color: #ffffff;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  margin: 20px 20px 20px 2.5vw;
  padding: 48px 0;
  width: 100%;
  max-width: calc(100% - 64px);
}

.filter-image {
  cursor: pointer;
}

.detail-popup {
  width: 500px;
  height: 100vh;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: absolute;
  right: -450px;
  top: 0;
  z-index: 1;
  background-color: white;
  transition: all 500ms ease;
}

.new-regulation-container .row {
  margin: 0px 15px 0px 30px;
}

.SbPara {
  max-width: 240px;
  display: block;
  opacity: 0.6;
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #2c2738;
}

h2.main-title {
  font-size: 24px;
  font-weight: 600;
}

h2.main-title img {
  margin: 0 0 0 10px;
}

.new-regulation-header {
  display: flex;
  justify-content: space-between;
}

.list {
  border-bottom: 2px solid #eee8fc;
  padding-bottom: 15px;
  margin-top: 10px;
}

.title {
  margin-top: 20px;
}
.title h1 {
  font-family: Poppins;
  opacity: 0.5;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #1b1d21;
}

.description {
  display: flex;
  justify-content: space-between;
}

.description-text {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2c2738;
}

.license-code {
  border: none;
  border-radius: 2px;
  background-color: #f7f4fe;
  color: #b3abc4;
  margin-right: 10px;
}

.new-regulation-title {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #575757;
}

.license-number {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2c2738;
  margin-bottom: 10px;
}

.date {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: right;
  color: #202020;
}

h2.new-regulation-title {
  margin: 0 32px 4px 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #575757;
}

p.description-text {
  margin: 4px 0 10px;
  object-fit: contain;
  opacity: 0.7;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2c2738;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: calc(100% - 100px);
}

.TopSearch {
  max-width: 324px;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  border: solid 1px #e4e4e4;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.TopSearch input {
  border: 0px;
  margin: 0;
  padding: 0;
  max-width: calc(100% - 30px);
  font-family: Poppins;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #aeaeae;
}

.TopSearch input:hover,
.TopSearch input:focus {
  border: 0px;
  outline: 0;
  box-shadow: none;
}

.SearchIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchIcon svg {
  font-size: 18px;
  color: #b3abc4;
}

.BadgesWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0px;
}

.BadgesDiv {
  margin: 0 12px 12px 0;
  padding: 8px 14px;
  border-radius: 40px;
  background-color: #f7f4fe;
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: #2c2738;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BadgesDiv span {
  max-width: calc(100% - 20px);
  width: 100%;
}

.CloseBadge {
  width: 20px;
  cursor: pointer;
}

.CloseBadge svg {
  font-size: 20px;
  color: #222;
}

.BadgesDiv:last-child {
  background-color: transparent;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: left;
  color: #6c5dd3;
  text-transform: uppercase;
  padding: 8px 5px;
  cursor: pointer;
}

.BadgesDiv:last-child .CloseBadge {
  display: none;
}

.BadgesDiv:last-child span {
  max-width: 100%;
}

.tags {
  display: flex;
  justify-content: space-between;
}
.tags-button {
  border: none;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f8c102;
  border-radius: 2px;
  background-color: #fcf3cd;
  margin-right: 10px;
  padding: 2px;
}

.download-file {
  border: none;
  border-radius: 4px;
  background-color: #6c5dd3;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: right;
  color: #ffffff;
}

.new-regulation-side-bar .detail-popup {
  max-width: 880px;
  width: 100%;
  right: -880px;
}

.new-regulation-side-bar .detail-popup.popup-open {
  right: 0;
}

.new-regulation-side-bar .detail-popup .popup-header {
  flex-direction: column;
  position: relative;
  height: 100%;
}

.CloseSidebar {
  margin: 0 0 20px;
}

.SidebarFooter {
  flex-shrink: 0;
}
.SidebarContent {
  display: flex;
  flex-direction: column;
  position: relative;
}

.TopContent {
  flex: 1 0 auto;
}

.new-regulation-side-bar .detail-popup.popup-open .container {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.tag-buttons {
  display: flex;
  flex-flow: row wrap;
}

@media (max-width: 767px) {
  .new-regulation-header {
    flex-direction: column;
    justify-content: flex-start;
  }
}
