/* TrashPage */

.Rectangle{
height: 640px;
width: 1320px;
margin-left: 27px;
margin-top:20px;
border-radius: 36px;
/* #CACACA;  */
background-color: white;
position:fixed;
/* display: none; */
}
.mainHeading{
height: 65px;
width: 83px;
margin-left: 39px;
margin-top: 44px;
border-radius: nullpx;
color:#2C2738;

}
.getoption-1{
    cursor: pointer;
    width: 174px;
    height: -1px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0px;
    text-align: left;
    color: #575757 !important;
    margin-top: -23px;
  }
  
  .getoption-2{
    margin-left: 151px;
    margin-top: -25px;
    cursor: pointer;
    width: 124px;
    height: -1px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0px;
    text-align: left;
    color: #575757 !important;
  }
  .getoption-3 {
    cursor: pointer;
    margin-left: 313px;
    margin-top: -25px;
    cursor: pointer;
    width: 124px;
    height: -1px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0px;
    text-align: left;
    color: #575757 !important;
    display: flex;
  }
  .secondhalf{
    margin-top: 20px;
  }
  
  .options-list {
    list-style: none;
    margin-top: 23px;
    padding: 0;
    cursor: pointer;
    margin-left: 39px;
  }
  
  .activation-1 .getoption-1{
    color: black !important;
    border-bottom: 2px solid #7a73ff;
    width: 78px;
    cursor: pointer;
  }
  
  .activation-2 .getoption-2{
    color: black !important;
    border-bottom: 2px solid #7a73ff;
    cursor: pointer;
    position: fixed;
    width: 90px;
  }
  .activation-3 .getoption-3{
    color: black !important;
    border-bottom: 2px solid #7a73ff;
    cursor: pointer;
    width: 55px;
    position: fixed;
  }
  .sort-by-filter {
    margin-top: -17px;
    float: right;
    margin-right: 915px;
    cursor: pointer;
  }
  .rectangle_1{
    height: 30px;
    width: 458px;
    margin-left: 790px;
    margin-top: -33px;
    border-radius: 8px;
    background-color: #CACACA;
    

  }
  .underText{
    height: 0px;
    width: 536px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: -35px;
    margin-top: 0px;
  
  }
  .getLine-25{
    width: 1257px;
    height: 0;
    margin: 30px 0 0;
    border: solid 1px #eee8fc;
    margin-top: 2px;  
  }

  /* Projects css */

  .takeRectangle{
    height: 35px;
    width: 1254px;
    border-radius: 12px;
    background: #7A73FF29;
    margin-left: 35px;
    margin-top: 20px;
    position:fixed;
  }
  .pro{
    margin-left: 18px;
    margin-top: 6px;
    color: #7A73FF;
    font-size: small;
    font-weight:bold;
  }
  .pro1{
    margin-left: 18px;
    margin-top: 26px;
    color: #7A73FF;
    font-size: small;
  }

  /* completed css */
  .comp{
    margin-left: 276px;
    margin-top: -18px;
    color: #7A73FF;
    font-size: small;
    font-weight:bold;
  }
  .comp1{
    margin-left: 279px;
    margin-top: -18px;
    color: black;
    font-size: small;
  }
  .comp2{
    margin-left: 400px;
    margin-top: -20px;
    color: black;
    font-size: small;
  }
  .comp3{
    margin-left: 512px;
    margin-top: -20px;
    color: black;
    font-size: small;
  }
  .comp4{
    margin-left: 632px;
    margin-top: -20px;
    color: black;
    font-size: small;
  }
  .comp5{
    margin-left: 745px;
    margin-top: -20px;
    color: black;
    font-size: small;
  }
  .comp6{
    margin-left: 862px;
    margin-top: -20px;
    color: black;
    font-size: small;
  }
  .comp7{
    margin-left: 982px;
    margin-top: -20px;
    color: black;
    font-size: small;
  }
  .comp9{
    margin-left: 1182px;
    margin-top: -21px;
    color: black;
    font-size: small;
    cursor:pointer;
  }
  .rectDelete{
    height: 25px;
    width: 26px;
    margin-left: 1178px;
    margin-top: -21px;
    border-radius: 6px;
    background: #FF585833;
    cursor:pointer;
  }

  .own{
    margin-left: 409px;
    margin-top: -20px;
    color: #7A73FF;
    font-size: small;
    font-weight:bold;
  }
  .tas{
    margin-left: 520px;
    margin-top: -20px;
    color: #7A73FF;
    font-size: small;
    font-weight:bold;
  }
  .miles{
    margin-left: 629px;
    margin-top: -20px;
    color: #7A73FF;
    font-size: small;
    font-weight:bold;
  }
  .due{
    margin-left: 759px;
    margin-top: -20px;
    color: #7A73FF;
    font-size: small;
    font-weight:bold;
  }
  .srtDate{
    margin-left: 878px;
    margin-top: -20px;
    color: #7A73FF;
    font-size: small;
    font-weight:bold;
 }
 .endDate{
    margin-left: 998px;
    margin-top: -20px;
    color: #7A73FF;
    font-size: small;
    font-weight:bold;
 }
 .ManDes{
    margin-left: 276px;
    margin-top: -18px;
    color: #7A73FF;
    font-size: small;
 }
 .getLine-26{
    width: 1257px;
    height: 0;
    margin: 30px 0 0;
    border: solid 1px #eee8fc;
    margin-top: 11px;  
  }
  .projectImage{
    margin-left: 1110px;
    margin-top: -22px;
    cursor: pointer;
  }
  .vectBack{
    margin-left: 1105px;
    margin-top: -25px;
    height: 25px;
    width: 32px;
    border-radius: 6px;
    background: #7A73FF;
    cursor: pointer;
  }

  /* milestone.css */
  .endDate1{
    margin-left: 562px;
    margin-top: -20px;
    color: #7A73FF;
    font-size: small;
    font-weight:bold;
 }
 .due1{
  margin-left: 693px;
  margin-top: -20px;
  color: #7A73FF;
  font-size: small;
  font-weight:bold;
}
.assiTo{
  margin-left: 825px;
  margin-top: -20px;
  color: #7A73FF;
  font-size: small;
  font-weight:bold;
}
.comle{
  margin-left: 970px;
  margin-top: -20px;
  color: #7A73FF;
  font-size: small;
  font-weight:bold;
}
.own1{
  margin-left: 262px;
  margin-top: -18px;
  color: black;
  font-size: small;
}
.own2{
  margin-left: 393px;
  margin-top: -20px;
  color: black;
  font-size: small;
}
.own3{
  margin-left: 545px;
  margin-top: -20px;
  color: black;
  font-size: small;
}
.own4{
  margin-left: 680px;
  margin-top: -20px;
  color: black;
  font-size: small;
}
.own5{
  margin-left: 817px;
  margin-top: -20px;
  color: black;
  font-size: small;
}
.own6{
  margin-left: 960px;
  margin-top: -20px;
  color: black;
  font-size: small;
}

/* Task.css */

.rectangleFirst{
  height: 41px;
  padding: 1px;
  width: 615.5px;
  margin-left: 36px;
  margin-top: 22px;
  border-radius: 12px;
  background: #7A73FF29;
  Fill :Solid rgba(122, 115, 255, 0.16)
}
.textHeading{
  margin-left: 38px;
  margin-top: -30px;
  color: #7A73FF;
}
.fillColor{
  background: #7A73FF;
  width: 11px;
  height: 40px;
  width: 14px;
  border-radius: 73px 0px 24px 82px;;
  Fill: Solid #7A73FF;
}
.vect{
  margin-left: 525px;
  margin-top: -26px;
  height: 28px;
  width: 30px;
  border-radius: 6px;
  background: #7A73FF;
}
.forImg{
  margin-top: -26px;
  margin-left: 529px;
  cursor: pointer;
}
.forImg1{
  margin-top: -22px;
  margin-left: 582px;
  cursor: pointer;
}
.DeleteRect{
  height: 23px;
  width: 26px;
  margin-left: 577px;
  margin-top: -21px;
  border-radius: 6px;
  background: #FF585833;
  cursor: pointer;
}
.rectDelete2{
  height: 23px;
  width: 26px;
  margin-left: 577px;
  margin-top: -21px;
  border-radius: 6px;
  background: #FF585833;
  cursor: pointer;
}

.rectangleSecond{
  height: 41px;
  padding: 1px;
  width: 610.5px;
  margin-left: 680px;
  margin-top: -41px;
  border-radius: 12px;
  background: #7A73FF29;
  Fill :Solid rgba(122, 115, 255, 0.16);
  color:blue;
}
.rectangleThird{
  height: 41px;
  padding: 1px;
  width: 615.5px;
  margin-left: 36px;
  margin-top: 22px;
  border-radius: 12px;
  background: #7A73FF29;
  Fill :Solid rgba(122, 115, 255, 0.16)
}

.rectangleFourth{
  height: 41px;
  padding: 1px;
  width: 610.5px;
  margin-left: 680px;
  margin-top: -41px;
  border-radius: 12px;
  background: #7A73FF29;
  Fill :Solid rgba(122, 115, 255, 0.16);
  color:blue;
}

.rectangleFive{
  height: 41px;
  padding: 1px;
  width: 615.5px;
  margin-left: 36px;
  margin-top: 22px;
  border-radius: 12px;
  background: #7A73FF29;
  Fill :Solid rgba(122, 115, 255, 0.16)
}
* {
  box-sizing: border-box;
}

   


